---
title: "Проект апарт-отеля"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/ahotel.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" style="border: none">
                <h1>Гостиничный комплекс (Апарт-отель) на&nbsp;407&nbsp;номеров</h1>
                <p><span class="adress">Санкт-Петербург, ул. Таллинская, 21</span><span class="state">эскизный проект</span></p>
                <span>Авторский состав:</span>
                <ul>
                    <li>Николай Лим</li>
                    <li>Дмитрий Водоватов</li>
                    <li>Евгений Шулятьев</li>
                    <li>Любовь Горшкалева</li>
                    <li>Дмитрий Корнеев</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "ahotel/01.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "ahotel/02.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "ahotel/03.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "ahotel/04.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "ahotel/05.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>

