---
title: "АСД студия — Проекты, архитектурное проектирование"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/architecture.jpg"
tags:
- International-competition
---
<div >

    <header>

        <!--#include file="super-menu.html" -->
    </header>



    <div id="main" role="main">
        <h1>АРХИТЕКТУРНОЕ ПРОЕКТИРОВАНИЕ</h1>


        <ul id="portfolio-filter">
            <li><a href="#all">Все</a></li>
            <li><a rel="Реконструкция" href="#reconstruction">Реконструкция</a></li>
            <li><a rel="Новое строительство" href="#new_construction">Новое строительство</a></li>
            <li><a rel="Загородное строительство / частные дома" href="#ex_construction">Загородное строительство / частные дома</a></li>
            <li><a rel="Competitions" href="#competition">Конкурсные работы</a></li>
        </ul>

        <div>
            <div id="index-menu">

                <ul id="portfolio-list">

                    <li class="competition">
                        <div class="proj-label"><a href="Hakodate-Russian-Consulate-Renovation">Renovation of Old Russian Consulate in Hakodate</a></div>
                        <div class="proj-img"><a href="Hakodate-Russian-Consulate-Renovation"><img src="{{ "hakodate.jpg" | asset_url }}" width="300" height="200" alt="Renovation of Old Russian Consulate in Hakodate, Japan" /></a></div>
                    </li>


                    <li class="competition">
                        <div class="proj-label"><a href="baku"> First Baku International Architecture Award 2013</a></div>
                        <div class="proj-img"><a href="baku"><img src="{{ "baku.jpg" | asset_url }}" width="300" height="200" alt="First Baku International Architecture Award 2013" /></a></div>
                    </li>

                    <li class="new_construction">
                        <div class="proj-label"><a href="baku">Проект апарт-отеля</a></div>
                        <div class="proj-img"><a href="ahotel"><img src="{{ "apart-hotel.jpg" | asset_url }}" width="300" height="200" alt="Проект апарт-отеля 2013" /></a></div>
                    </li>

                    <li class="competition ">
                        <div class="proj-label"><a href="Centro-Cultural-Chapultepec">Centro Cultural Chapultepec</a></div>
                        <div class="proj-img"><a href="Centro-Cultural-Chapultepec"><img src="{{ "chapultepec.jpg" | asset_url }}" width="300" height="200" alt="Centro Cultural Chapultepec" /></a></div>
                    </li>

                    <li class="competition ">
                        <div class="proj-label"><a href="Daegu-Gosan-Public-Library">Daegu Gosan Public Library</a></div>
                        <div class="proj-img"><a href="Daegu-Gosan-Public-Library"><img src="{{ "gosan-lib.png" | asset_url }}" width="300" height="200" alt="Daegu Gosan Public Library" /></a></div>
                    </li>

                    <li class="ex_construction">
                        <div class="proj-label"><a href="pansionat">Проект пансионата, Лен. область</a></div>
                        <div class="proj-img"><a href="pansionat"><img src="{{ "pansionat.jpg" | asset_url }}" width="300" height="200" alt="Проект пансионата, Лен. область" /></a></div>
                    </li>

                    <li class="competition ">
                        <div class="proj-label"><a href="helsinki-south-harbour">Helsinki South Harbour</a></div>
                        <div class="proj-img"><a href="helsinki-south-harbour"><img src="{{ "helsinki.jpg" | asset_url }}" width="300" height="200" alt="New Taipei City Museum" /></a></div>
                    </li>

                    <li class="ex_construction">
                        <div class="proj-label"><a href="pvt_house_siestarjoki">Проект частного жилого дома в г. Сестрорецк</a></div>
                        <div class="proj-img"><a href="pvt_house_siestarjoki"><img src="{{ "siestarjoki.jpg" | asset_url }}" width="300" height="200" alt="Проект частного жилого дома в г. Сестрорецк" /></a></div>
                    </li>

                    <li class="competition ">

                        <div class="proj-label"><a href="newtaipeicityartmuseum">New Taipei City Art Museum</a></div>
                        <div class="proj-img"><a href="newtaipeicityartmuseum"><img src="{{ "taipei-museum.jpg" | asset_url }}" width="300" height="200" alt="New Taipei City Museum" /></a></div>
                    </li>

                    <li class="competition ">

                        <div class="proj-label"><a href="busanoperahouse">BUSAN OPERA HOUSE</a></div>
                        <div class="proj-img"><a href="busanoperahouse"><img src="{{ "busanopera.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>


                    <li class="reconstruction new_construction">
                        <div class="proj-label"><a href="izhorskie-zavodi">КОМПЛЕКСНАЯ РЕНОВАЦИЯ — «ОАО ИЖОРСКИЕ ЗАВОДЫ»</a></div>
                        <div class="proj-img"><a href="izhorskie-zavodi"><img src="{{ "thumbs/iz.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition "><div class="proj-label"><a href="paris">CENTRE SPIRITUEL ET CULTUREL ORTHODOXE RUSSE</a></div>
                        <div class="proj-img"><a href="paris"><img src="{{ "paris.jpg" | asset_url }}" width="300" height="200"   /></a></div>
                    </li>
                    <li class="competition "><div class="proj-label"><a href="monument-of-victory">Monument Of Victory</a></div>
                        <div class="proj-img"><a href="monument-of-victory"><img src="{{ "israel.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition"><div class="proj-label"><a href="india">SPIRETEC DESIGN COMPETITION</a></div>
                        <div class="proj-img"><a href="india"><img src="{{ "india.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition "><div class="proj-label"><a href="palace-of-justice" >Brussels Courthouse</a></div>
                        <div class="proj-img"><a href="palace-of-justice"><img src="{{ "brussel.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition "><div class="proj-label"><a href="morocco">Place Lalla Yeddouna</a></div>
                        <div class="proj-img"><a href="morocco"><img src="{{ "fez.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="{{ "red-star.liquid" | asset_url }}">Дом ветеранов войны и труда КРАСНАЯ ЗВЕЗДА</a></div>
                        <div class="proj-img"><a href="red-star"><img src="{{ "red.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="sheremetievo-plaza">Гостиничный комплекс Шереметьево Плаза</a></div>
                        <div class="proj-img"><a href="sheremetievo-plaza"><img src="{{ "sher.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition"><div class="proj-label"><a href="Kaohsiung-Maritime-Cultural-and-Popular-Music-Center">Kaohsiung Maritime Cultural & Popular Music Center</a></div>
                        <div class="proj-img"><a href="Kaohsiung-Maritime-Cultural-and-Popular-Music-Center"><img src="{{ "popcenter.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="competition">
                        <div class="proj-label"><a href="Kaohsiung-Port-and-Cruise-Service-Center">Kaohsiung Port & Cruise Service Center</a></div>
                        <div class="proj-img"><a href="Kaohsiung-Port-and-Cruise-Service-Center"><img src="{{ "pncsc.jpg" | asset_url }}"  width="300" height="200" /></a></div>
                    </li>
                    <li class="competition"><div class="proj-label"><a href="piraeus-tower">Canging the face 2010 —  Piraeus Tower</a></div>
                        <div class="proj-img"><a href="piraeus-tower"><img src="{{ "ptower.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="ex_construction"><div class="proj-label"><a href="toxovo">Проект Жилого комплекса (пос. Токсово)</a></div>
                        <div class="proj-img"><a href="toxovo"><img src="{{ "toxovo.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="radisson-sas-zaporojie">гостиница Radisson SAS</a></div>
                        <div class="proj-img"><a href="radisson-sas-zaporojie"><img src="{{ "sasa.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="ex_construction"><div class="proj-label"><a href="cottage-village-solnechnoe">Гостиничный комплекс (пос. Солнечное)</a></div>
                        <div class="proj-img"><a href="cottage-village-solnechnoe"><img src="{{ "sol1.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="pedestrian-crossing-elektrosila">Проект Надземного пешеходного перехода с коммерческим центром на ст. метро Электросила</a></div>
                        <div class="proj-img"><a href="pedestrian-crossing-elektrosila"><img src="{{ "elec.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="pedestrian-crossing-pr-veteranov">Проект Надземного пешеходного перехода с коммерческим центром на пр. Ветеранов</a></div>
                        <div class="proj-img"><a href="pedestrian-crossing-pr-veteranov"><img src="{{ "vet.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="new_construction"><div class="proj-label"><a href="residential-building-jaques-duclos">Жилой дом (ул. Жака Дюкло)</a></div>
                        <div class="proj-img"><a href="residential-building-jaques-duclos"><img src="{{ "duk.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="moscow_spb">ПРЕДСТАВИТЕЛЬСТВО
                        МОСКВЫ
                        В САНКТ-ПЕТЕРБУРГЕ</a></div>
                        <div class="proj-img"> <a href="moscow_spb"><img src="{{ "msk.jpg" | asset_url }}" width="300" height="200"></a> </div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="multifunctional-clinic">Проект реконструкции Многофункциональной клиники</a></div>
                        <div class="proj-img"><a href="multifunctional-clinic"><img src="{{ "klinika.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="business-center-zaporojie.liquid">Проект реконструкции бизнес-центра (г. Запорожье)</a></div>
                        <div class="proj-img"><a href="business-center-zaporojie.liquid"><img src="{{ "zap.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="business-center-obuhovski">Проект реконструкции бизнес-центра (пр. Обуховской обороны 86)</a></div>
                        <div class="proj-img"><a href="business-center-obuhovski"><img src="{{ "obuh.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="business-center-ligovski-150">Проект Реконструкции Бизнес-центра (Лиговский пр. 150)</a></div>
                        <div class="proj-img"><a href="business-center-ligovski-150"><img src="{{ "liga.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>
                    <li class="reconstruction"><div class="proj-label"><a href="mansards">Проекты реконструкций чердачных помещений в мансарды</a></div>
                        <div class="proj-img"><a href="mansards"><img src="{{ "mansarda.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>

                    <li class="ex_construction">
                        <div class="proj-label"><a href="pvt-house-chudskoe-ozero">Проект жилого дома на берегу Чудского озера</a></div>
                        <div class="proj-img"><a href="pvt-house-chudskoe-ozero"><img src="{{ "thumbs/chudo.jpg" | asset_url }}" width="300" height="200"></a></div>
                    </li>


                    <li class="ex_construction">
                        <div class="proj-label"><a href="proekt-usadbi-siverskij" >Проект усадьбы в поселке Сиверский</a></div>
                        <div class="proj-img"><a href="proekt-usadbi-siverskij"><img src="{{ "thumbs/siv.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>

                    <li class="ex_construction">
                        <div class="proj-label"><a href="cottage_sertolovo">Проект коттеджа в поселке Сертолово</a></div>
                        <div class="proj-img"><a href="cottage_sertolovo"><img src="{{ "thumbs/sert.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>


                    <li class="ex_construction">
                        <div class="proj-label"><a href="pvt_house_ganino">Проект жилого дома в деревне Ганино</a></div>
                        <div class="proj-img"><a href="pvt_house_ganino"><img src="{{ "ganino.jpg" | asset_url }}" width="300" height="200" /></a></div>
                    </li>


                </ul>

            </div></div>

    </div>

    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
