---
title: "Birmingham Centenary Square"
date: 2013-06-13 00:00
published: true
layout: post
thumbnail: "thumbs/birmingham_centenary_square.jpg"
styles:
- "black.css"
tags:
- International-competition
---

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" style="border": none">
                <h1>Birmingham Centenary Square</h1>
                <p><span class="adress">Birmingham, UK</span><span class="state">INTERNATIONAL COMPETITION</span></p>
                <span>People on project:</span>
                <ul>
                    <li>Nikolai Lim</li>
                    <li>DMITRY VODOVATOV</li>
                    <li>EVEGENIY SHULYATE'EV</li>
                    <li>ALINA DENISOVA</li>
                    <li>ANDREAS BESLER</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "birmingham_centenary_square_01.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_02.jpg" | asset_url }}" width="861" height="500"></div>
                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_03.jpg" | asset_url }}" width="862" height="500"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
                    <div id="main" role="main">
                        <div class="dlblock" style="margin-bottom:7em;">
                            <div class="bond-touchmargin" style="height:500px;">
                                <div class="bond-wrapper">
                                    <div class="bond-box">
                                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_04.jpg" | asset_url }}" width="808" height="500"></div>
                                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_05.jpg" | asset_url }}" width="963" height="500"></div>
                                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_06.jpg" | asset_url }}" width="623" height="500"></div>
                                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_07.jpg" | asset_url }}" width="755" height="500"></div>
                                        <div class="bond-slide"><img src="{{ "birmingham_centenary_square_08.jpg" | asset_url }}" width="1019" height="500"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="dlblock" >
        <div class="lblock textfld" class="plate">
            <h2>Birmingham Centenary Square</h2>
            <ul style=" list-style:none;">
                <li>Site area - 21 191 m<sup>2</sup></li>
                <li>Total area - under 23 941 m<sup>2</sup></li>
                </ul>

            <p>The main theme of the project is "Cultural Artifact":
            <p>- we would carefully protect all cultural heritage and all public events of this area;</p>
            <p>-  exposition objects can stress culture's character; </p>
            <p>- we suppose that public traffic will rise if the total square of the area will be widen </p>

            <p>Centenary Square integrate objects built in different times and styles with different functions. What helps to unite all buildings in one organic space. Square is the united organism, which includes most important transport system.</p>

                <p>Total square divides into 3 zones: "Square", "Lawn" and "Memory". </p>

        </div>
        <div class="lblock textfld">
            <p>"Square" zone is the open air space with exhibition sculptures. Good area allows to realize any formal and informal events such as meetings, fairs, exhibitions and etc. </p>
            <p>Existing "carpet" of brick paving by Tess Jaray was saved to the maximum. </p>
            <p>"Lawn" zone is the 2-level area with the grass lawn floor and trees. Lawn passes into the multilevel construction from completely pre-fabricated steel structural frame. </p>


                <p>This space's linked to the new buildings Arena Development by Miller Developments. These buildings will be taller than the existing context. Because of this square needs multilevel system for balancing the total space. This construction has system of ramps, stairs, escalators and elevators, ways in the new buildings. </p>
            <p>It can be used as relaxation zone, exhibition; where people can stop and take a rest, maybe find something new. </p>
            <p>In the "Memory" zone Hall of Memory circled by glass ribbon with inside light on the floor. There's outside exposition of the glass touch-screen panels with multimedia and exhibition functions; where people can find information about city, its history, any building and art. Moreover it's the co-working Wi-Fi zone. </p>
            <p>In such a way these 3 zones form harmonious, cognitive, friendly and flexible "open-air living room" which is easily accessible to all of the people of Birmingham and visitors </p>
</div>


</div>
<!-- End of Main -->
<footer>
    <!--#include file="footer.html" -->
</footer>
</div>