---
title: "Busan Opera House"
date: 2014-12-18 00:00
published: true
thumbnail: "thumbs/busan_opera_house.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab">
                    <h1>Busan Opera House</h1>
                    <p><span class="adress">Busan City harbour, South Korea</span><span class="state">international competition</span>
                    </p>

                    <span class="bgstring">People on project:</span><ul>
                    <li>Nikolai Lim</li>
                    <li>Fedor Troitsky</li>
                </ul>
                    <br>
                    <span class="bgstring">Featuring:</span>
                    <ul>
                        <li>Evgeniy Shulyate'ev</li>
                        <li>Dmitriy Vodovatov</li>

                    </ul>
                </div>
            </div>
        </div>
        <img src="{{ "busan_opera_house_01.jpg" | asset_url }}" class="fullscreen">
    </header>
    <div id="main" role="main">

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "busan_opera_house_02.jpg" | asset_url }}" width="1020" height="500"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_03.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_04.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_05.jpg" | asset_url }}" width="2035" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:200px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "busan_opera_house_06.jpg" | asset_url }}" width="1197" height="200"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_07.jpg" | asset_url }}" width="1073" height="200"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_08.jpg" | asset_url }}" width="1067" height="200"></div>

                    </div>
                </div>
            </div>
        </div>




        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "busan_opera_house_09.jpg" | asset_url }}" width="940" height="478"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_10.jpg" | asset_url }}" width="578" height="500"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_11.jpg" | asset_url }}" width="415" height="500"></div>
                        <div class="bond-slide"><img src="{{ "busan_opera_house_12.jpg" | asset_url }}" width="440" height="500"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>Explanatory Report</h2>
                <h3>INTRODUCTION</h3>
                <p>Whether you like it or not, plans and volumes of any modern opera house are strongly determined by the complicated requirements of modern opera stage technology in the first place. Everything is interdependent here. The number of seats determines the auditorium dimensions. Consequently it determines the efficient dimensions of the proscenium or stage portal, of stage floor, of its wings, the height of the fly system over the stage and the depth of the trap room beneath it etc., etc.</p>
                <p>Each opera performance processing chain begins at a trailer parking lot where 40-foot containers with scenery need to be unloaded quickly. It continues in the spacious places where the bulky scenery is assembled before each performance and is mounted upon mobile stage wagons, which roll out to the stage by precisely specified routes at precisely specified moments of the performance.</p>
                <p>Dozens of actors enter the stage or leave it at the right moment simultaneously during the opera performance. So the dressing rooms' location is highly important. The opera production requires sound-proof rehearsal rooms for the choir, ballet and orchestra. It requires easily accessible storage or last minute maintenance space for costumes, furniture and props. Opera production requires also a variety of technical and office space. In this regard, opera house space configuration today is much closer to the sophisticated configuration of an orbital space station. By the XXI century we have gone very far away from the initial simple amphitheater arrangement scheme which was invented in ancient Greece.</p>
                <p>So what is the role given to the architecture in the traditional sense here?
                    Actually, it is the role of a certain shell, which visually unites all the separate elements of the opera production technological scheme and helps to plant it organically into the surrounding landscape.</p>
                </p>
                <h3>TRAFFIC FLOW</h3>
                <p>The transport flow scheme of the area adjacent to the Opera House offers minimal impact of traffic upon environment. The whole traffic flow is directed along the western coast to the southern corner of the building. A special site for loading / unloading cargo containers with decorations is organized here at level - 2500. This site is protected from rain by the building's roof projection which reaches its maximum in the southern corner zone. Passenger transport flow turns a little bit earlier to the underground parking at the same level - 2500.</p>
            </div>
            <div class="lblock textfld" >
                <h3>THE BUILDING</h3>
                <p>
                    The Opera House two auditoriums' space and volume, its two stages' and their adjacent production technology interior sites' space requirements fit perfectly a triangular plan.</p>
                <p>The outer shell of the Opera House is formed by three facades. The northern facade includes the main entrance to the building. Two other facades – the eastern one and the western one – join each other in the south. The triangular plan of the building mimics vaguely the triangular shape of the southern tip of the island.</p>
                <p>The outer contour of the shell varies with altitude. Accordingly varies the floor area as its level changes. The top floor and the roof provide the largest area. The silhouette of the building varies dramatically too, thus creating visual dynamics.
                    The total architectural image of the Busan Opera House is based upon a symbiosis of international maritime themes and of Korean national architecture images.
                </p>
                <p>The natural light access to the interior space along the perimeter of the building is provided through the transparent structure of the shell. This random leveled zone around the central closed volume houses the restaurant, sight-seeing platforms, bridges and galleries.
                    Natural light access to the interior space in the central zone which is remote from the transparent perimeter is provided through with two light wells / atriums.</p>
                <p>As the interior space develops along its vertical axis and as natural light gets access to it via atriums, a lot of freedom occurs for the Opera House service and technological facilities' transformation or re-configuration.</p>

                <p>The main foyer of the Opera House is located at level + 3300. Visitors can get there from the ground level by wide exterior stairs running along the northern facade. Directly on the ground level, here is also the entrance to the ticket office and the lobby zone. Visitors enter the main foyer from there by the interior stairs. Visitors arriving by car can get to the main foyer from the underground parking by elevator.</p>

                <p>Both auditoriums are designed according to the traditional opera house oval scheme with stalls and 4 levels of balconies.
                </p>

                <h3>SPATIAL PLANNING RESULTS</h3>

                <ul style="list-style:none;">
                    <li>Total Site Area — 34 928 м2</li>
                    <li>Total Building Coverage Area — 8 385 м2</li>
                    <li>Floors Number — 7 (including 1 below ground level)</li>
                    <li>Maximal Height — 35,5 м</li>
                    <li>Total Building Volume (shell) — 296 500 м3</li>
                    <li>Total Building Area — 59 756 м2 <br>Including:
                        <ul style="margin-left:30px;"><li>Opera House — 34 503 м2</li>
                            <li>Parking Lots — 25 253 м2</li>
                        </ul></li>
                    <li>Paved area — 18 787 м2</li>
                    <li>Green area — 3 332 м2</li>
                    <li>Cargo trucks site — 4 424 м2</li>
                </ul>

            </div>
        </div>
    </div> <!--end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
