---
title: "CENTRE SPIRITUEL ET CULTUREL ORTHODOXE RUSSE"
date: 2014-12-16 00:00
published: true
layout: architecture
thumbnail: "thumbs/centre_spirituel_et_culterel_orturel_orthodoxe_russe.jpg"
styles:
- "paris.css"
- "black.css"
tags:
- competition
id: "paris"
---

<div id="container" >
    <header>
        <!--#include file="super-menu.html" -->

    </header>
    <div id="main" role="main">
        <div class="lblock">
            <div id="lab">
                <h1>{{collection}}</h1>
                <h2>ACD studio / Vega<br>
                    en collaboration avec <br>
                    AUA Paul CHEMETOV</h2>
                <p><span class="adress">2 Avenue Rapp, Paris, France.</span><span class="state">international competition</span><span class="state state2">competition finale</span>
                </p>
                <span>People on project (<strong>ACD studio / Vega</strong>):</span>
                <ul>
                    <li>Nikolai Lim</li>
                    <li>Elena Sharova</li>
                    <li>Danil Ovcharenko</li>
                    <li>Fedor Troitsky</li>
                    <li>Ekaterina Maremyanina</li>
                    <li>Natalia Yurkova</li>
                    <li>Elyes Ben Ammar</li>
                    <li>Aleksandra Avramenko</li>
                </ul>
            </div>
        </div>
        <img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_01.jpg" | asset_url }}" class="fullscreen">
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_02.jpg" | asset_url }}" width="712" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_03.jpg" | asset_url }}" width="323" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_04.jpg" | asset_url }}" width="712" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_05.jpg" | asset_url }}" width="714" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_06.jpg" | asset_url }}" width="713" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_07.jpg" | asset_url }}" width="871" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_08.png" | asset_url }}" width="1541" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_09.jpg" | asset_url }}" width="5609" height="400"></div>
                        <div class="bond-slide"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_10.jpg" | asset_url }}" width="1080" height="400"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="padding-bottom:2em;">
            <div class="lblock textfld" ><a href="{{"present_2.swf" | asset_url }}"><img src="{{ "centre_spirituel_et_culterel_orturel_orthodoxe_russe_11.jpg" | asset_url }}" width="450" height="338"></a></div>
            <div class="lblock textfld" >Flash-презентация проекта <em>(в новом окне)</em>. </div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>РУССКИЙ ДУХОВНО-КУЛЬТУРНЫЙ ПРАВОСЛАВНЫЙ ЦЕНТР</h2><h3>Пояснительная записка<br />
            </h3>
                <h4>
                    АСД студия / Вега<br />
                    в сотрудничестве с<br />
                    AUA Paul CHEMETOV<br />
                    МАРТ 2011
                </h4>
                <p>Композиционным центром участка является православный храм, расположеный на внутриквартальной территории. Вход в храм запроектирован с северо-запада, со стороны набережной. Вся северная часть участка приподнята на одноэтажный стилобат, и площадь, и сам храм находятся на некоем возвышении. Под стилобатом размещаются нижний храм и технические помещения. С набережной на предхрамовую площадь ведёт широкая лестница, окаймлённая с обеих сторон своеобразным пропилеями: с западной стороны – объёмом звонницы, с восточной стороны – культурно-выставочным флигелем проектируемого центра. </p>
                <p>Звонница предполагается отдельно стоящей, приближенной к набережной Бранли.</p>
                <p>Храм представляет собой четырехстолпный четверик с примыкающим к нему со стороны паперти (с северо-запада) трёхнефным объёмом. Четверик поднимается к барабану уступами стилизованных закомар. Конусовидный барабан завершается шлемовидной главой.</p>
                <p>В плане храм – трёхнефный, сильно вытянутый с юга на север.</p>
                <p>Архитектурный образ храма предельно простой. Основной объём храма почти кубичен. Его мощь усилена тяжелыми полуцилиндрами апсид.</p>
            </div>
            <div class="lblock textfld" >
                <p>Важнейшим элементом архитектурной композиции является массивный барабан главы со шлемовидным покрытием. Щелевидные, похожие на крепостные бойницы, амбразуры окон выявляют толщину стен.
                    Трёхнефная часть храма имеет 2 уровня. Перекрытия – своды, в зоне лестниц – плоские, железобетонные. Стены предлагается выполнить из традиционных строительных материалов (кирпич) с облицовкой натуральным камнем (известняком). На отметке +3.500 вокруг храма устроена частично перекрытая с восточной стороны обходная галерея для крестного хода.</p>
                <p>С южной стороны к храму подступает сад, в сторону которого раскрывается восточный фасад дворца Альма. Часовня, расположенная в саду, призвана завершать визуальные связи с набережной Бранли и авеню Рапп.</p>
                <p>Проектом предполагается полный демонтаж существующего здания на углу проспекта Рапп и Университетской улицы для оптимизации использования территории и возможности увеличения высоты здания по мере продвижения к углу участка, обеспечив разрыв от дворца Альма.</p>
                <p>Фасады зданий (корпусов), выходящих на красные линии ограничивающих участок улиц, решены в едином стиле, образуя некую ширму, ограждающую внутреннее пространство духовно-культурного центра от окружающего мегаполиса. </p>
                <p>Южная (административно-жилая) часть более закрытая, оснащённая системами фасадных жалюзи, которые в жилой части могут быть трансформированы в зависимости от времени суток и погоды.
                    Северная (культурно-выставочная) часть более прозрачна, основной фасадный элемент – стекло.</p>
                <p>Обе части комплекса соединяются галереей на отметке +10.500. Галерея и примыкающие к ней фасады северного и южного корпусов комплекса образуют «портал», обрамляющий вид на сад и стоящую в его глубине часовню.</p>
                <p>Входы в здания осуществляются:
                <ul>
                    <li>в храм – с набережной Бранли</li>
                    <li>в сад и к часовне – с набережной Бранли и с авеню Рапп</li>
                    <li>в культурно-выставочный флигель – с угла набережной Бранли и авеню Рапп</li>
                    <li>в административно-жилой флигель – с Университетской улицы</li>
                </ul></p>
            </div>
        </div>
    </div> <!--! end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div> <!--! end of #container -->

