---
title: "Daegu Gosan Public Library"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/Daegu-Gosan-Public-Library.jpg"
tags:
- International-competition
---

{{ "paris.css" | asset_url | stylesheet_tag }}
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Daegu Gosan Public Library</h1>
                <p><span class="adress">Republic of Korea</span><span class="state">international competition</span></p>
                <span>People on project:</span>
                <ul>
                    <li>Dmitry Vodovatov</li>
                    <li>Nikolai Lim</li>
                    <li>Evegeniy Shulyate'ev</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "daeu-gosan-lib/01.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "daeu-gosan-lib/02.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "daeu-gosan-lib/03.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "daeu-gosan-lib/04.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "daeu-gosan-lib/05.jpg" | asset_url }}"  class="fullscreen" ></div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/sections.png" | asset_url }}" width="2588" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:7em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/1-floor.png" | asset_url }}" width="354" height="500"></div>
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/2-floor.png" | asset_url }}" width="277" height="500"></div>
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/3-floor.png" | asset_url }}" width="277" height="500"></div>
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/4-floor.png" | asset_url }}" width="277" height="500"></div>
                        <div class="bond-slide"><img src="{{ "daeu-gosan-lib/parking.png" | asset_url }}" width="272" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock">
            <div class="lblock textfld" >
                <h2>PROJECT DESCRIPTION</h2>
                <h3>§1</h3>
                <p>Any Library is a public space for information and knowledge share. It is the intersection of information flows. Any local community Library is a place where people meet each other, communicate each other, share their own knowledge and experience, share their free time. So it is the intersection of local residents’ human flows.</p>
                <p>The proposed architectural approach combines and directs these two levels of flows’ intersection in Daegu Gosan Public Library.</p>

                <h3>§2</h3>
                <p>Smart Glass chameleon panels are widely used for the building envelope and for some of its interior partitions.This modern high-tech material provides the possibility of changing façades colour from white during sunny day-time, to grey during evening dusk and to black at night. It reflects the sun light during the day-time and thus prevents overheating of the interior. It reflects the interior lighting during the night-time back inside and thus prevents losses of lighting energy.</p>
                <p>Smart transparency of the interior partitions provides good balance between the openness of the public space and the meditative visual isolation in reading zones.</p>
                <p>Light well ensures uniform illumination of the interior areas, reducing light energy consumption during the day-time.</p>
            </div>
            <div class="lblock textfld" >
                <h3>§3</h3>
                <p>The extensive glassing of the building envelope provides visual continuity to the green environment around.</p>
                <p>The volume of the building is located among trees, while maintaining the maximum green areas. As the building volume is raised above ground level all habitual walking routs through the park are saved.</p>
                <h3>§4</h3>
                <p>Children's library is located at the top storey and is connected to the outdoors playground on the green roof space.</p>
                <p>The top of the building is used for operated green roof by 30%, it provides increase in the building heat insulation.</p>
                <h3>§5</h3>
                <p>Separate letters of the Korean alphabet and phrases in Korean are integrated into the Library building’s architecture. They straightforwardly declare and emphasize the main function of the building. Architecture here becomes media itself.</p>
            </div>

        </div>
    </div> <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>