---
title: "establishing busan station area as the hub of creative economy"
date: 2015-09-26 00:00
published: true
layout: architecture
thumbnail: "thumbs/establishing_busan_station_area_as_the_hub_of_creative_economy.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:3em;">
            <div class="lblock" style="padding-left:20px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.00); border: none">
                    <h2>establishing busan station area <br> as the hub of creative economy</h2>
                    <p><span class="adress">Busan City harbour, South Korea</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NIKOLAI LIM</li>
                        <li>DMITRI VODOVATOV </li>
                        <li>IAROSLAVA NESTERENKO </li>
                        <li>DIANA GAZIZOVA </li>
                        <li>EVGENIY SHULYATE'EV </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
        <img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_02.jpg" | asset_url }}" width="941" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_03.jpg" | asset_url }}" width="1042" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_04.jpg"| asset_url }}" width="889" height="500"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_05.jpg" | asset_url }}" width="964" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_06.jpg" | asset_url }}" width="479" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_07.jpg" | asset_url }}" width="724" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_08.jpg" | asset_url }}" width="833" height="500"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_09.jpg" | asset_url }}" width="2076" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:350px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_10.jpg" | asset_url }}" width="2404" height="350"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_11.jpg" | asset_url }}" width="2871" height="350"></div>
                        <div class="bond-slide"><img src="{{ "establishing_busan_station_area_as_the_hub_of_creative_economy_12.jpg" | asset_url }}" width="2744" height="350"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
