---
title: "First Baku International Architecture Award 2013"
date: 2014-12-26 00:00
published: true
layout: architecture
thumbnail: "thumbs/first_baku_international_architecture_award_2013.jpg"
styles:
- "white.css"
tags:
- competition
id: "taipei-art"
---


<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.36); border: none">
                    <h1>First Baku International <br/> Architecture Award&nbsp;2013</h1>

                    <span class="state state2">Category D - Best non-realised project</span><br/><span class="state state3">Second Place Diploma <br/>
                     for project: <a href="Kaohsiung-Maritime-Cultural-and-Popular-Music-Center.shtml">Centre of maritime culture and popular music, Kaohsiung, Taiwan</a></span><br/>
                    <br/><span class="state">international competition</span>
                    <br/><br/>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Danil Ovcharenko</li>
                        <li>Fedor Troitsky</li>
                        <li>Maria Bychkova</li>
                        <li>Dmitry Vodovatov</li>
                    </ul>

                </div>
            </div>
        </div>
        <img src="{{ "first_baku_international_architecture_award_2013_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_02.jpg" | asset_url }}" width="930" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_03.jpg" | asset_url }}" width="778" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_04.jpg"| asset_url }}" width="558" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_05.jpg"| asset_url }}" width="868" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_06.jpg"| asset_url }}" width="479" height="500"></div>

                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_07.jpg" | asset_url }}" width="887" height="500"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_08.jpg" | asset_url }}" width="1154" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_09.jpg" | asset_url }}" width="1796" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_10.jpg" | asset_url }}" width="1957" height="500"></div>
                        <div class="bond-slide"><img src="{{ "first_baku_international_architecture_award_2013_11.jpg" | asset_url }}" width="2011" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
