---
title: "Гостиничный комплекс (пос. Солнечное)"
date: 2014-12-04 00:00
published: true
layout: architecture
thumbnail: "thumbs/gostinichnii_kompleks_pos_solnechnoe.jpg"
styles:
- "white.css"
tags:
- ex_construction
id: "monochrome-loft"
---

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Гостиничный комплекс<br>
                    (пос. Солнечное) </h1>
                <p>Проект загородного гостиничного комплекса  класса «апартамент-отель» <br>
                    в посёлке Солнечное, Ленинградская область, Россия<span class="state">стадия рп</span>
                </p>
                <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <h2>Здание администрации</h2>
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_01.jpg" | asset_url }}" width="1240" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_02.jpg" | asset_url }}" width="985" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_03.jpg" | asset_url }}" width="314" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_04.jpg" | asset_url }}" width="528" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_05.jpg" | asset_url }}" width="823" height="400"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:240px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_06.jpg" | asset_url }}" width="609" height="240"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_07.jpg" | asset_url }}" width="503" height="240"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_08.jpg" | asset_url }}" width="398" height="240"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_09.jpg" | asset_url }}" width="240" height="240"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_10.jpg" | asset_url }}" width="240" height="240"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em; margin-top:2em;" >
            <h2 >Коттеджи</h2>
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_11.jpg" | asset_url }}" width="556" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_12.jpg" | asset_url }}" width="542" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_13.jpg" | asset_url }}" width="470" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_14.jpg" | asset_url }}" width="530" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_15.jpg" | asset_url }}" width="557" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_16.jpg" | asset_url }}" width="398" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_17.jpg" | asset_url }}" width="584" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_18.jpg" | asset_url }}" width="420" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_19.jpg" | asset_url }}" width="400" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_20.jpg" | asset_url }}" width="533" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_21.jpg" | asset_url }}" width="398" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_22.jpg" | asset_url }}" width="447" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_23.jpg" | asset_url }}" width="533" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_24.jpg" | asset_url }}" width="425" height="400"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_25.jpg" | asset_url }}" width="400" height="400"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lblock"><img src="{{ "gostinichnii_kompleks_pos_solnechnoe_26.jpg | assets_url }}"  width="940" height="612"></div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
