---
title: "Гостиничный комплекс (апарт-отель)"
date: 2014-12-25 00:00
published: true
layout: architecture
thumbnail: "thumbs/gostinichnii_kompleks_apart_otel.jpg"
styles:
- "black.css"
tags:
- new_construction
id: "busan-opera"
---

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" style="border": none">
                <h1>Гостиничный комплекс <br>
                    (Апарт-отель) на&nbsp;407&nbsp;номеров</h1>
                <p><span class="state">закрытый конкурс</span><span class="state state2">победитель</span></p>
                <p><span class="adress">Санкт-Петербург, ул. Таллинская, 11</span></p>
                <span>Авторский состав:</span>
                <ul>
                    <li>Николай Лим</li>
                    <li>Дмитрий Водоватов</li>
                    <li>Евгений Шулятьев</li>
                    <li>Любовь Горшкалева</li>
                    <li>Дмитрий Корнеев</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "gostinichnii_kompleks_apart_otel_01.jpg"  | asset_url }}"
                                                            class="fullscreen"></div>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_02.jpg" | asset_url }}" width="671" height="500"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_03.jpg" | asset_url }}" width="758" height="500"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_04.jpg"| asset_url }}" width="745" height="500"></div>
                        <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_05.jpg"| asset_url }}" width="676" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Main -->
<footer>
    <!--#include file="footer.html" -->
</footer>
</div>

        <div id="container">
            <div id="main" role="main">
            <div class="dlblock">
                <div id="lab" style="border": none">
                    <span class="state">стадия П</span></p>
                    <span>Авторский состав:</span>
                    <ul>
                        <li>Николай Лим</li>
                        <li>Дмитрий Водоватов</li>
                        <li>Евгений Шулятьев</li>
                        <li>Константин Дерюгин</li>
                    </ul>
                </div>


    </div>
    <div class="dlblock" style="margin-bottom:2em"><img src="{{ "gostinichnii_kompleks_apart_otel_06.jpg"  | asset_url }}" class="fullscreen"></div>
            <div id="main" role="main">
                <div class="dlblock" style="margin-bottom:7em;">
                    <div class="bond-touchmargin" style="height:500px;">
                        <div class="bond-wrapper">
                            <div class="bond-box">
                                <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_07.jpg" | asset_url }}" width="500" height="500"></div>
                                <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_08.jpg" | asset_url }}" width="890" height="500"></div>
                                <div class="bond-slide"><img src="{{ "gostinichnii_kompleks_apart_otel_09.jpg"| asset_url }}" width="842" height="500"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
