---
title: "Helsinki South Harbour"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/helsinki-south-harbour.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">




            <div class="lblock" style="padding-left:40px;">
                <div id="lab">
                    <h1>Helsinki South Harbour</h1>
                    <p><span class="adress">South harbour, Helsinki, Finland</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Evgeniy Shulyate'ev</li>
                        <li>Vodovatov Dmitriy</li>
                        <li>Tatyana Yepimachova</li>
                        <li>Fedor Troitsky</li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="{{ "hel_big_summer.jpg" | asset_url }}" class="fullscreen">
    </header>
    <div id="main" role="main">

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_1.jpg" | asset_url }}" width="428" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_3.jpg" | asset_url }}" width="602" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_4.jpg" | asset_url }}" width="639" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_5.jpg" | asset_url }}" width="866" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_6.jpg" | asset_url }}" width="759" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_7.jpg" | asset_url }}" width="712" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_10.jpg" | asset_url }}" width="652" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_8.jpg" | asset_url }}" width="652" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_9.jpg" | asset_url }}" width="712" height="400"></div>

                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_11t.jpg" | asset_url }}" width="712" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_13.jpg" | asset_url }}" width="711" height="400"></div>
                        <div class="bond-slide"><img src="{{ "fourseasonsofhelsinki_14.jpg" | asset_url }}" width="713" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "facade2.jpg" | asset_url }}" width="4966" height="400"></div>
                        <div class="bond-slide"><img src="{{ "facade1.jpg" | asset_url }}" width="4399" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>Explanatory Report</h2>
                <h3>Introduction</h3>
                <p>
                    The main concept of <strong>"Four Seasons of Helsinki" project</strong>: to form some cultural and social space comfortable and attracting in the first instance for local citizens and to inspire South Harbor's development as a main place of interest providing leisure suited for every fancy. This will for sure attract tourists as well. Functioning all year round "Four Seasons of Helsinki" will touch on and point out the most important landmarks of the Finnish culture (from the Baltic herring fair to Runeberg Day). This project is conceived as a place for ALL and for EVERYONE at the same time and the central idea here is to show all the wealth and variety of the Finnish culture in a fascinating soft manner.</p>
                <p>
                    The space conventionally is divided in 3 zones: <strong>recreational park</strong>, <strong>cultural and entertaining zone</strong> and finally the <strong>zone of the market place</strong>. Such a structure can provide the full range of leisure and amusements no matter if they are active and loud or passive and relaxing.
                </p>
                <h3>Recreational Park</h3>
                <p>
                    The park zone is situated in the south-east of the harbor. It is a landscape configuration con-cealed as a naturally occurring hill. Being an extension of Tähtitorninvuori this zone is designed for a calm quiet rest, family picnics, stargazing or getting an eyeful of seascapes, sunsets or dawns. Cycling and jogging tracks are also provided here. In the south an artificial hill is connected with Kaivopuisto with a pedestrian bridge.
                </p>
                <h3>Cultural And Entertaining Zone</h3>
                <p>
                    The zone of amusements and culture events is formed in the north-east of embankment (Ka-tajanokanlaituri and present Kanava terminal). Instead of terminal a multifunctional building is pro-posed. It will include in itself plenty of exhibition centers and show rooms (where both Finnish tradi-tional crafting and arts and contemporary art and design are presented), hi-tech installation spaces, art workshops, museums, cafes, gift shops and many other. The main feature of the building is its special planning: stretched along the embankment's waterline it won't ruin the existing city's pa-noramic view. In this zone all kind of mass events can be arranged, such as: concerts, perfor-mances, street sports championships and etc. – just everything that modern urban culture can suggest.
                </p>
            </div>
            <div class="lblock textfld" >
                <img src="{{ "site-plan.jpg" | asset_url }}" width="450" height="479">
                <h3 style="padding-top:2em;">Market Place</h3>
                <p>
                    The central part of the embankment, the market place, will be unclogged by an underground tunnel. Kauppatori is a traditionally formed place of commerce that is why the character of this place stays inalterably. But in the evening when the market place is empty this area with a usage of mobile constructions can be easily converted into a playground, or a music venue, or an outdoor movie, or an auditorium, or a rink, or a dance floor. Like that the market place gets the numerous quantity of new possibilities and meanings keeping its original look. Also it is a perfect spot for celebrating national holidays.
                </p>
            </div>
        </div>

    </div> <!--end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
