---
title: "SPIRETEC DESIGN COMPETITION"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/india.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient2">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>SPIRETEC DESIGN<br>
                    COMPETITION</h1>
                <p><span class="adress">AREA
NEAR NEW DEHLI, INDIA</span><span class="state">international competition</span>
                </p>
                <span class="bgstring">People on project:</span>
                <ul>

                    <li>Danil Ovcharenko</li>
                    <li>Fedor Troitsky</li>
                    <li>Natalia Yurkova</li>
                    <li>Aleksandra Avramenko</li>
                    <li>Nikolai Lim</li>
                </ul>

            </div>
        </div>
        <img src="{{ "india/crop_main_940w.jpg" | asset_url }}" width="940" height="587" style="margin-bottom:2em;">
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:600px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "crop2-1_600.jpg" | asset_url }}" width="450" height="600"></div>
                        <div class="bond-slide"><img src="{{ "crop2-2_600.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "crop23_600.jpg" | asset_url }}" width="1103" height="600"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:3em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "crop2-4_400.png" | asset_url }}" width="463" height="400"></div>
                        <div class="bond-slide"><img src="{{ "crop2-3_400.png" | asset_url }}" width="2055" height="400"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock"><img src="{{ "crop2-3_940.png" | asset_url }}" width="940" height="167"></div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" ><h2>Concept for Multifunctional Zone consists of 3 parts:</h2>
                <h3>1. The Bridge–building – sophisticatedly interconnects workspaces and residential volumes.</h3><p><em>The It component</em> is located between <em>Apartments and Hotel towers</em>.  Every day the residents of the <em>Hotel and Apartments towers</em> travel to a workplaces and for their daily businesses into the volumes of the IT Center. <em>The It Component</em> streamlines this transition, acting as a diaphragm, a bridge between <em>Apartments and Hotel towers</em> maintaining the connection between those buildings on each floor. </p>
                <p><em>The It Component</em> consists of several subcomponents with different functionality, those are: the Incubation and Business Center, Banking Facilities, and SME offices . For most convenient differentiation, these subcomponents are separated into several physical volumes, literally - boxes, which are vertically separated on the gallery interconnecting the hotel and the apartments.</p><p>Each box is a flexible space with height from 2 to 4 floors. The gallery acts as a public space for pedestrian traffic and recreational facilities, it also contains a smoke-controlled stairs, elevators and escalators, that merges all of the boxes and the gallery into a solid <em>IT Component Plate</em>. </p>
                <h3>2. Maximum panoramic views from each volume of multifunctional complex.</h3><em>The Hotel and Apartments tower</em>s are placed diagonally to each other maintaining the better insolation and maximum panoramic views. Therefore each of these volumes is bi-oriented to the river and to the highway without interfering with each other. The bend of <em>the It Component Plate</em> gives it's inhabitants the panoramic views on the river and on the fields behind the highway, it also improves a quality of natural lighting conditions.</p>
            </div>
            <div class="lblock textfld" >
                <p><strong>Better watch then read!</strong> Video which briefly describes the ideas behind the project.</p>
                <p>
                    <iframe src="http://player.vimeo.com/video/19134039?portrait=0&amp;color=59a5d1" width="427" height="240" frameborder="0"></iframe>
                </p>
                <h3>3. Comfort and convenient pedestrian traffic routes between buildings of <em>the Multifunctional Zone</em>.</h3><p>The pedestrian traffic routes run across the multi-function area at a ground level. For better communication the long promenade runs underneath all of the <em>IT Zone</em> volumes.</p>
                <p>Moving  along the promenade, one can access all functional areas, by the use of elevators and escalators. Retail zone <em>(shops, restaurants and cafes)</em>, is located along this promenade.
                    The large open air yards are placed between the blocks of retail  zone.  Serving as source of natural light, those courtyards are also recreational zones with a trees and water basins. From these yards, a spiral ramps and escalators go up to the green stylobate roof which is also serves as a public space and a park.</p>
            </div>
        </div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
