---
title: "Kaohsiung Maritime Cultural &amp; Popular Music Center"
date: 2014-12-09 00:00
published: true
thumbnail: "thumbs/kaohsiung_maritime_cultural_and_popular_music_center.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >

    <header>
        <!--#include file="super-menu.html" -->

    </header>

    <div id="main" role="main">
        <div id="lab">
            <h1>Kaohsiung<br>
                Maritime Cultural <br>& Popular Music Center </h1>
            <p><span class="bgstring">Kaoshiung harbour, Taiwan</span> <span class="state">international competition</span>
            </p>
            <span class="bgstring">People on project:</span>
            <ul>
                <li>Nikolai Lim</li>
                <li>Danil Ovcharenko</li>
                <li>Fedor Troitsky</li>
                <li>Natalia Yurkova</li>
            </ul>

        </div>
        <img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_01.jpg" | asset_url }}" class="fullscreen" style="margin-bottom:2em;">
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_02.jpg" | asset_url }}" width="800" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_03.jpg" | asset_url }}" width="745" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_04.jpg" | asset_url }}" width="740" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_05.jpg" | asset_url }}" width="400" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_06.jpg" | asset_url }}" width="400" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_07.jpg" | asset_url }}" width="400" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_08.jpg" | asset_url }}" width="400" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_09.jpg" | asset_url }}" width="744" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_10.jpg" | asset_url }}" width="740" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_11.jpg" | asset_url }}" width="700" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_12.jpg" | asset_url }}" width="565" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_13.jpg" | asset_url }}" width="282" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_14.jpg" | asset_url }}" width="565" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_15.jpg" | asset_url }}" width="565" height="400"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dlblock" >
            <div class="lblock textfld" >
                <p>The Kaohsiung Maritime Cultural & Popular Music Center requires considerable indoors space. However the site area is not too spacious, especially along narrow eastern and western banks of the harbor. The main concern was the risk of turning the harbor into a kind of a courtyard pond. Thus the Tripod idea got born. </p>


                <p>The tripod serves as 3-pier interconnection superstructure as well as a building that provides up to 46 000 sq m of indoor spaces.</p>
                <p>
                    The continuous pedestrian access through Center's main facilities, is organized as a low slope ramp, arose above the ground level. This approach enables us to reserve as much as 67 000sq.m of the Site area for green lawns – a leisure environment for the public to enjoy walks. </p>
            </div>
            <div class="lblock textfld" >
                <p>Not only this multilevel ramp serves it's pedestrian and sight-seeing function, but it also connects a succession of public open-air areas which can be simultaneously used for a number of public events, such as, various theatrical acts.
                </p>
                <p>Those non-programmed public environments are gently sheltered from hustle of the city and separated from each other by the set of the expressively curved acoustic screens. These screens can be used as a canvas for augmented projection mapping exploding the night with colorful video performances.</p>
                <p>Rock-solid, but openwork and transparent at the same time, the Tripod will serve as a symbolic gateway to the Port of Kaohsiung. And thus make it a highly original icon and a landmark for Kaohsiung City.</p></div>
            <div class="lblock">
                            <div class="lblock"><a href="{{ "kaohsiung_maritime_cultural_and_popular_music_center_16.jpg" | asset_url }}" rel="gallery"  class="pirobox_gall" title=""><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_17.jpg" | asset_url }}" /></a></div>
                <div class="lblock"><a href="{{ "kaohsiung_maritime_cultural_and_popular_music_center_18.jpg" | asset_url }}" rel="gallery"  class="pirobox_gall" title=""><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_19.jpg" | asset_url }}" /></a></div>
                <div class="lblock"><a href="{{ "kaohsiung_maritime_cultural_and_popular_music_center_20.jpg" | asset_url }}" rel="gallery"  class="pirobox_gall" title=""><img src="{{ "kaohsiung_maritime_cultural_and_popular_music_center_21.jpg" | asset_url }}" /></a></div>
            </div>

        </div> <!--end of #main -->
        <footer>
            <!--#include file="footer.html" -->
        </footer>
    </div>
</div>
