---
title: "Kaohsiung Port &amp; Cruise Service Center"
date: 2014-12-08 00:00
published: true
layout: architecture
thumbnail: "thumbs/kaohsiung_port_and_crise_service_center.jpg"
styles:
- "black.css"
tags:
- competition
id: "pncsc"
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >
    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">




            <div class="lblock"  style="padding-left:40px;" >
                <div id="lab" >
                    <h1>Kaohsiung<br>
                        Port & Cruise<br>
                        Service Center</h1>
                    <p><span class="bgstring">Kaoshiung harbour, Taiwan</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Danil Ovcharenko</li>
                        <li>Fedor Troitsky</li>
                        <li>Ekaterina Maremyanina</li>
                        <li>Natalia Yurkova</li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="{{ "kaohsiung_port_and_crise_service_center_01.jpg" | asset_url }}" class="fullscreen" style="padding-top:10em;">
    </header>
    <div id="main" role="main">

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_02.jpg" | asset_url }}" width="583" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_03.jpg" | asset_url }}" width="583" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_04.jpg" | asset_url }}" width="583" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_05.jpg" | asset_url }}" width="697" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_06.jpg" | asset_url }}" width="755" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_07.jpg" | asset_url }}" width="1262" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_08.jpg" | asset_url }}" width="1270" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_09.jpg" | asset_url }}" width="1274" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_10.jpg" | asset_url }}" width="1262" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_11.jpg" | asset_url }}" width="2180" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_12.jpg" | asset_url }}" width="1712" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_13.jpg" | asset_url }}" width="898" height="400"></div>
                        <div class="bond-slide"><img src="{{ "kaohsiung_port_and_crise_service_center_14.jpg" | asset_url }}" width="1146" height="400"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dlblock" >
            <div class="lblock textfld" >
                <p>Every journey starts, from a car or a bus up to the liner's cabin, at the Northern Façade. It can start at elevation -1.500 of the underground parking lot or at elevation +1.000, where taxi and buses arrive.</p>
                <p>All basic transitions of cruise passenger occur at elevation +7.500, on the "Main Deck".</p>
                <p>The Western Wing of the building is tailored for the departure procedures. The Eastern Wing houses the arrival zone. This choice is determined by the road traffic scheme around the Site. The multi-level space in between houses the commercial zone.</p>
                <p>The journey finishes at the South Façade. Here an open terrace stretches along the total South wall at elevation +7.500. It distributes passengers to their particular liners. The terrace 6m width provides enough place for two-way passengers' traffic. The whole space below the Main Deck is actually given to "Taiwan Island" Landscape Garden at elevation +1.000. The space above the Main Deck (elevation 16.000 / +30.000) houses "Promenade Deck" – a set of terraces, viewing platforms and galleries. They are designed as a free plan rings or loops. Floor elevations vary here and, respectively, their walking roof elevations too.</p>
            </div>
            <div class="lblock textfld" >
                <p>Promenade Deck inner facades form courtyards. They give visitors an opportunity to watch the life-flow below on the Main Deck and in the Landscape Garden. The Building vertical planning scheme is determined by a very simple policy. The less directly people or services on a floor are related to the passengers / visitors flow, the more vertically distant their spaces are located from the basic Main Deck level.</p>
                <p>The top floor at elevation +35.000 is given to Port Service Center office space. It is the only section of the building structure compactly compiled.</p>
                <p>The whole space below the Main Deck is actually given to "Taiwan Island" Landscape Garden. The garden is penetrated by pathways and bridges.</p>
                <p>All vertical inter-level communication is concentrated mainly along the Northern Façade Wall. Here we propose 3 shafts for elevators and a network of escalators or moving staircases running in parallel to the Wall. 3 moving staircases running in cross-sectional direction link elevation +1.000 at the South side of the Landscape Garden to the Main Deck and to different zones of Promenade Deck.</p>
            </div>
        </div>
    </div> <!--end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
