---
title: "КОМПЛЕКСНАЯ РЕНОВАЦИЯ — «ОАО ИЖОРСКИЕ ЗАВОДЫ»"
date: 2014-12-17 00:00
published: true
thumbnail: "thumbs/kompleksnaya_renovaciya_oao_izhorskie_zavodi.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient5">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>КОМПЛЕКСНАЯ РЕНОВАЦИЯ —<br>

                    «ОАО ИЖОРСКИЕ ЗАВОДЫ»</h1>
                <p><span class="adress">Колпинский район, Санкт-Петербург, Россия</span></p>

                <span>В проекте участвовали:</span>
                <ul>
                    <li>Николай Лим</li>
                    <li>Евгений Шулятьев</li>
                    <li>Дмитрий Водоватов</li>
                    <li>Татьяна Решетникова</li>
                    <li>Николай Петров</li>
                    <li>Ильес Бен Аммар</li>
                    <li>Евгения Шалимова</li>
                    <li>Федор Троицкий</li>
                </ul>

            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box" style="width: 14000px;">
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_01.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_02.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_03.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_04.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_05.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_06.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_07.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_08.jpg" | asset_url }}" width="688" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_09.jpg" | asset_url }}" width="1049" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_10.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_11.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_12.jpg" | asset_url }}" width="1439" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_12.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "kompleksnaya_renovaciya_oao_izhorskie_zavodi_14.jpg" | asset_url }}" width="889" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
