---
title: "концепция благоустройства тверской улицы"
date: 2016-07-23 00:00
published: true
layout: architecture
thumbnail: "thumbs/koncepcia_blagoustroystva_tverskoy_ulici.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.0); border: none">
                    <h2>концепция благоустройства тверской улицы</h2>
                    <p><span class="adress">Moscow, Russia</span><span class="state">international competition</span><span class="state state2">prizewinner</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>MARIA ZAHAROVA>
                        <li>DMITRI VODOVATOV</li>
                        <li>NIKOLAI LIM</li>


                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
        <img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_07.jpg" | asset_url }}" width="716" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_08.jpg" | asset_url }}" width="925" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_09.jpg"| asset_url }}" width="583" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_10.jpg" | asset_url }}" width="1050" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_11.jpg" | asset_url }}" width="1824" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_12.jpg" | asset_url }}" width="581" height="400"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_02.jpg" | asset_url }}" width="599" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_03.jpg" | asset_url }}" width="645" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_04.jpg" | asset_url }}" width="599" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_05.jpg" | asset_url }}" width="604" height="400"></div>
                        <div class="bond-slide"><img src="{{ "koncepcia_blagoustroystva_tverskoy_ulici_06.jpg" | asset_url }}" width="629" height="400"></div>


                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" >
                <h3>IDEA</h3>

                <p>Город состоит из связей, главный смысл его существования заключается в наличии и развитии этих связей.
                 Улица – один из главных физических инструментов города (hard), благодаря которому эти связи (soft) появляются,
                 функционируют, уплотняются, пересекаются.
                   В широком смысле связи могут быть пространственными, временными, эмоциональными - связи (воспоминания )
                    людей с местом, экономическими, транспортными.
                <p>Мы предлагаем вернуть утраченные связи на Тверской и создать условия для развития новых, чтобы повысить витальность улицы.
                При удалении от Кремля на Тверской появляется необходимость в повышении качества простой повседневной жизни с приоритетным
                вниманием к человеку с его ежедневными потребностями против амбициозных проектов и лозунгов.</p>
              <h4>Принципы образования связей:</h4>
               <p>1. Пространственные связи. Разбить на зоны и создать локальные короткие маршруты.</p>
               <p>Путь от площади Тверской заставы до Кремля пешком занимает слишком много времени (около 40 минут в одну сторону)
               и имеет мало стимулов, чтобы преодолевать его за одну прогулку.
                    Разные участки Тверской используются по-разному, поэтому мы предлагаем разбить улицу и прилегающие территории
                     на зоны в соответствии с основным функциональным видом использования пространства. Вместе с зонированием мы предлагаем
                      создать локальные короткие маршруты, ориентированные в первую очередь на комфорт основной группы пользователей зоны.
                      После выявления характера отдельных участков необходимо связать эти участки между собой горизонтальными связями в виде
                       наземных пешеходных переходов. Эта пространственная связь необходима в том числе для поддержания экономических связей и
                        коммерческой недвижимости. </p>

                

            </div>
            <div class="lblock textfld" >
                <h3></h3>


                <p>2. Временные (исторические связи). Выявить идентичность Тверской.</p>
                <p>Тверская – наслоение, отражение и замысловатое пересечение эпох. Сейчас, гуляя по Тверской, чтобы это увидеть, нужно сильно постараться.
                   На протяжении своей истории Тверская как зеркало отражала изменения образа жизни столицы: бойкая торговая улица, парадная и масштабная
                    после реконструкции 30х, молодежная и тусовочная в 60-70е, первые бутики и глобальные сетевые рестораны в 90е. Идентичность Тверской развивалась
                     параллельно с идентичностью Москвы, Тверская всегда была «первой» и «лучшей», выражала текущий характер Москвы и ее надежды на будущее.
                   Сейчас Тверская должна «найти себя» в новой реальности, а для этого ей в первую очередь нужно себя осознать.
                   Для раскрытия своей идентичности мы предлагаем расположить вдоль улицы специальные экраны с текстом, которые будут описывать знаковые точки
                    Тверской и открывать то, что скрыто от глаз.</p>
                <p>3. Эмоциональные связи. Событийная программа и эмоциональная привязанность пользователей.</p>
                <p>Тверская выражает не только историю Москвы, но и живет в сотнях тысяч воспоминаний москвичей. Кто-то успел пощеголять в образе стиляг в
                 кафе Лира в далекие 50-е, кто-то проработал здесь в оргкомитете Олимпиады-80, а кто-то в 90-е стоял в очереди в первое кафе-мороженое «Пингвин»
                  на углу с улицей Гашека. Поэтому мы предлагаем задуматься о проведении событийной программы, посвященной истории и историям Тверской. Это может
                   быть передвижной штаб, который записывает истории людей, а потом транслирует по радио, выставка или арт-проект, развивающий эту тему.
                                           Однако, многие люди продолжают жить и работать здесь, их эмоциональные связи с пространством улицы также следует развивать
                                            путем преобразования тематических зон под нужды их главных пользователей.</p>

            
    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
