---
title: "lighthouse sea hotel"
date: 2016-03-23 00:00
published: true
layout: architecture
thumbnail: "thumbs/lighthouse_sea_hotel.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:3em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.0); border: none">
                    <h2>lighthouse sea hotel</h2>
                    <p><span class="adress">Syracuse, Italy</span><span class="state">international competition</span><span class="state state2">finalist</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NIKOLAI LIM </li>
                        <li>DMITRI VODOVATOV</li>
                        <li>MARIA ZAHAROVA</li>
                        <li>NATALIA RED'KINA </li>
                        <li>EKATERINA KUZNETSOVA</li>
                        <li>DIANA GAZIZOVA</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <img src="{{ "lighthouse_sea_hotel_01.jpg"| asset_url }}"
                 class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:300px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_02.jpg" | asset_url }}" width="424" height="300"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_03.jpg" | asset_url }}" width="1139" height="300"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_04.jpg"| asset_url }}" width="940" height="300"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_05.jpg" | asset_url }}" width="974" height="400"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_06.jpg" | asset_url }}" width="600" height="400"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_07.jpg" | asset_url }}" width="600" height="400"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_08.jpg" | asset_url }}" width="630" height="400"></div>
                        <div class="bond-slide"><img src="{{ "lighthouse_sea_hotel_09.jpg" | asset_url }}" width="600" height="400"></div>



                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
