---
title: "Проекты реконструкций чердачных помещений в мансарды"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/mansards.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Проекты реконструкций<br>чердачных помещений<br>в мансарды</h1>
                <p><span class="adress">ул. Рылеева, ул. Чайковского, Виленский пер.</span><span class="state">стадия РП</span>
                </p>

            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "crop1_320.jpg" | asset_url }}" width="460" height="320"></div>
                        <div class="bond-slide"><img src="{{ "crop2_320.jpg" | asset_url }}" width="283" height="320"></div>
                        <div class="bond-slide"><img src="{{ "crop3_320.jpg" | asset_url }}" width="423" height="320"></div>
                        <div class="bond-slide"><img src="{{ "crop4_320.jpg" | asset_url }}" width="206" height="320"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>