---
title: "Monument Of Victory"
date: 2014-12-15 00:00
published: true
thumbnail: "thumbs/monument_of_victory.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Monument Of Victory</h1>
                <p> A national monument  marking the Red Army's victory over Nazi Germany,  <br>
                    Netanya, Israel<span class="state">international competition</span>
                </p>
                <span class="bgstring">People on project:</span>
                <ul>
                    <li>Nikolai Lim</li>
                    <li>Aleksandra Avramenko</li>
                    <li>Fedor Troitsky</li>
                </ul>

            </div>
        </div>
        <img src="{{ "monument_of_victory_01.jpg" | asset_url }}" width="1920" height="1080" class="fullscreen2">
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "monument_of_victory_02.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_03.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_04.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_05.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_06.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_07.jpg" | asset_url }}" width="639" height="360"></div>
                        <div class="bond-slide"><img src="{{ "monument_of_victory_08.jpg" | asset_url }}" width="509" height="360"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock textfld" class="plate">
                <h2>Monument Of Victory</h2>
                <p>The Monument concept suggests vertical multi-level and multi-figure sculptural composition, which "germinates" from a dark closed space underground up to the sunlight and up to the sky.</p>

                <p>While sculptural figures at the bottom levels of the composition are cast of bronze, figures at its top level are cast of sparkling glass. While they are bronze human figures in the beginning, in the dark closed space underground, they turn into birds made of glass when they soar high into the sky.</p>

                <p>This transition – from Darkness to Light, from monumentalbronze to transparent weightless glass, from closed man-made space to the heavenly sky, from human beings to birds – makes the key metaphor.</p>
            </div>
            <div class="lblock textfld" >
                <p>The architectural space around the sculptural composition is organized in a way to emphasize the metaphor used. The Monument's main level area, which is raised above the ground, provides an opportunity for people to look or to descend below, into the darkness, or ascend up to the sun after the birds. Here the architectural solution suggests an additional sub-metaphor of "choice" which every man faces during his life. In cruel wartime the quintessence of this making choice procedure is the choice between Freedom or Death.</p>

                <p>Alternatively, entering inside the monument through the doors on the ground level, suggests us following the intrinsic logic of the sculptural story vertical development from the very beginning and thus reproducing the fundamental human route from the Depth of Darkness . </p>

                <p>The important detail of this metaphorical route is also a sun-ray from above, which still penetrates the depth of the
                    Darkness and thus permanently shows us a pathway to the
                    Kingdom of Light, a pathway to Victory.</p>

                <p>The materials used in construction follow the logic of the
                    basic metaphor development too. While the ground and
                    underground level construction uses massive concrete
                    structure clad in "aged" steel, its upper level exploits shining
                    metal mirror effects.  </p> </div>
        </div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
