---
title: "Place Lalla Yeddouna"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/morocco.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient4">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">




            <div class="lblock" style="padding-left:40px;">
                <div id="lab">
                    <h1>Place <br>
                        Lalla Yeddouna</h1>
                    <p><span class="adress">A Neighborhood in the Medina of Fez, Morocco</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Danil Ovcharenko</li>
                        <li>Fedor Troitsky</li>
                        <li>Ekaterina Maremjanina</li>
                        <li>Natalia Yurkova</li>
                        <li>Nikolai Lim</li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="{{ "place-lalla/crop_main_940w.jpg" | asset_url }}" class="fullscreen">
    </header>
    <div id="main" role="main">

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-1_400.jpg" | asset_url }}" width="533" height="400"></div>
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-2_400.jpg" | asset_url }}" width="533" height="400"></div>
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-3_400.jpg" | asset_url }}" width="497" height="400"></div>
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-4_400.jpg" | asset_url }}" width="330" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-5_400.png" | asset_url }}" width="2174" height="400"></div>
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-6_400.png" | asset_url }}" width="2736" height="400"></div>
                        <div class="bond-slide"><img src="{{ "place-lalla/crop2-7_400.png" | asset_url }}" width="4258" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>Explanatory Report</h2>
                <p>The Site is located in Fes al-Bali (the old, walled city or medina) on the both banks of the Fes River in the vicinity of University of al-Qarawiyyin which is its major local tourist attraction along with other treasures of Muslim architecture of Northern Africa. The Site area importance in town planning derives mainly from its role of a transit zone through which tourist routes lead to different cultural and historical Sites.</p>
                <h3>Town planning concept</h3>
                <p>The basic concept of renovation is the idea of crossroads for tourist routes, it emphasizes a system of pedestrian traffic on the Site.</p>
                <p>Following solutions are introduced for the concept development:
                <ol><li>Three new streets, designed as three trade propylaeum stress main directions of tourist traffic, form the basis of the system approach. At this point, the concept includes the construction of two new bridges: they should lessen the load from the historic bridge, undergoing restoration measures. These solutions should improve the comfort of the pedestrian traffic and improve its focusing.</li>
                    <li>Buildings with different functions are planned along the traffic routes: artisans' workshops, stores, cafes, restaurants and a hotel. The reconstruction approach suggests orthogonal structural grid of 2x2x2 m to provide variety in scale of building forms.</li>
                    <li>Structural covering/roof over pedestrian traffic routes. Such a roof will improve the comfort level of people due to shading and checking the progress of direct sunlight. This covered space will revive the genuine atmosphere of covered market (or souq) traditional to Northern Africa. Solar cells organized on the upper structure level provide additional electricity for cleaning units of the Fes River.</li>
                    <li>Exploited roofs and spaces above pedestrian traffic level for placement public locations for tourists and residents. Stairways system is developed to connect these upper spaces with pedestrian traffic level. The panoramic view from these high-rise public spaces helps visitors to better understand the environment of the city.
                        In some way the Site will acquire functions the traditional Arab caravansarais used to serve. Such a development will add to increasing commercial importance of the Site.</li></ol></p>
            </div>
            <div class="lblock textfld" >
                <h3>Restoration General Approach</h3>
                <p>We consider the Site as single unique group of buildings of historical and cultural value. So any constructional changes for the development of traffic routes will be carried out just only in four areas. The rest of the Site should remain in its original form. Archaeological research will help to identify the stages and the characteristics of Site formation.
                    Zone I building shall be restored using conservation methods with add-ons only to ensure the viability of the building. Since here historical value prevails over the cultural.
                    Zone II and Zone III buildings must be reconstructed using measurement drawings based on the conventional for this area building technique with the necessary functional changes, since cultural value prevails over the historical here. </p>
                <p>Naturally, environmental approach is important. So such techniques as exposure of masonry to identify stages in the environmental development, and the elements of its transformation within the historical process will be used. The same environmental approach will be applied to new elements' introduction into buildings of Zone II and Zone III such as openings, exterior stairs. These elements are necessary for functional adaptation of the building and its present-day viability.</p>

                <p>This renovation/restoration concept provides the prospect for non-infringement development of existing Site historical environment and appearance, whilst new elements will increase the level of comfort and safety for people who are eager to take in the genuine Maghreb atmosphere. </p>
            </div>
        </div>
    </div> <!--end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
