---
title: "New Taipei City Art Museum"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/newtaipeicityartmuseum.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient6">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">




            <div class="lblock" style="padding-left:40px;">
                <div id="lab">
                    <h1>New Taipei City Art Museum</h1>
                    <p><span class="adress">Yingge district, New Taipei City, Taiwan</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Fedor Troitsky</li>
                    </ul><br>

                    <span class="bgstring">Featuring:</span>
                    <ul>
                        <li>Evgeniy Shulyate'ev</li>
                        <li>Vodovatov Dmitriy</li>
                        <li>Tatyana Yepimachova</li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="{{ "big.jpg" | asset_url }}" class="fullscreen">
    </header>
    <div id="main" role="main">

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/m-plan_400.jpg" | asset_url }}" width="891" height="400"></div>
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/v-1.jpg" | asset_url }}" width="711" height="400"></div>
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/v4.jpg" | asset_url }}" width="711" height="400"></div>
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/v-3.jpg" | asset_url }}" width="901" height="400"></div>
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/v-2.jpg" | asset_url }}" width="711" height="400"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "new-taipei-city-art-museum/museum_sheme.png" | asset_url }}" width="2473" height="400"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>SPATIAL PLANNING RESULTS</h2>

                <ul style=" list-style:none;">
                    <li>Building volume — 330800 m<sup>3</sup></li>
                    <li>Built-up area   —                          80,7 m<sup>2</sup></li>
                    <li>Area of the complex —              64512 m<sup>2</sup></li>
                    <li>Pedestrian pathway area     —    8520 m<sup>2</sup></li>
                    <li>Paving area                  —         12750 m<sup>2</sup></li>
                    <li>Area of landscaping           —    12821 m<sup>2</sup></li>
                    <li>Area of bicycle paths, ramps   —   12752 m<sup>2</sup></li>
                    <li>Area of outer shell with photovoltaic panels        —         20800 m<sup>2</sup></li>

                </ul>

            </div>


            <div class="lblock"><a href="{{ "new-taipei-city-art-museum/int_1.jpg" | asset_url }}" rel="gallery"  class="pirobox_gall" title=""><img src="{{ "new-taipei-city-art-museum/thumb_1.jpg" | asset_url }}" /></a></div>
            <div class="lblock"><a href="{{ "new-taipei-city-art-museum/int_2.jpg" | asset_url }}" rel="gallery"  class="pirobox_gall" title=""><img src="{{ "new-taipei-city-art-museum/thumb_2.jpg" | asset_url }}" /></a></div>

        </div>
    </div> <!--end of #main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>