---
title: "Проект частного жилого дома в г. Сестрорецк"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/proekt_chastnogo_zhilogo_doma_v_g_sestroreck.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}
{{ "paris.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Проект частного жилого дома <br>
                    в г. Сестрорецк.</h1>
                <p><span class="adress">Сестрорецк, Курортный район, Санкт-Петербурга, Россия</span><span class="state">Проект</span>      </p>
                <span>В проекте участвовали:</span>
                <ul>
                    <li>Николай Лим</li>
                    <li>Дмитрий Водоватов</li>
                    <li>Федор Троицкий</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_01.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_02.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_03.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_04.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_05.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_06.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "proekt_chastnogo_zhilogo_doma_v_g_sestroreck_07.jpg" | asset_url }}" class="fullscreen" ></div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
