---
title: "Проект реконструкции Многофункциональной клиники"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/proekt_reconstrukcii_mnogofunccionalnoi_kliniki.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Проект реконструкции<br>
                    Многофункциональной<br>
                    клиники</h1>
                <p>Проект реконструкции, 13я линия В.О., Санкт-Петербург, Россия<span class="state">фор-эскиз</span>
                </p>
            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:600px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_01.jpg" | asset_url }}" width="697" height="600"></div>
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_02.jpg" | asset_url }}" width="356" height="600"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dlblock" >
            <div class="lblock"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_03.jpg" | asset_url }}" width="329" height="400"></div>
            <div class="lblock"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_04.jpg" | asset_url }}" width="374" height="400"></div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:280px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_05.jpg" | asset_url }}" width="357" height="280"></div>
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_06.jpg" | asset_url }}" width="470" height="280"></div>
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_07.jpg" | asset_url }}" width="371" height="280"></div>
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_08.jpg" | asset_url }}" width="187" height="280"></div>
                        <div class="bond-slide"><img src="{{ "proekt_reconstrukcii_mnogofunccionalnoi_kliniki_09.jpg" | asset_url }}" width="377" height="280"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
