---
title: "Проект пансионата, Ленинградская область, Россия"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/proekt_pansionata_leningradskaya_oblact_rossiya.jpg"
tags:
- International-competition
---

{{ "paris.css" | asset_url | stylesheet_tag }}
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" class="dark-blue">

    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="lblock">
            <div id="lab">
                <h1>Проект пансионата</h1>
                <p><span class="adress">Ленинградская область, Россия</span><span class="state">фор-эскиз</span>
                </p>
                <span class="bgstring">В проекте участвовали:</span>
                <ul>
                    <li>НИКОЛАЙ ЛИМ</li>
                    <li>ДМИТРИЙ ВОДОВАТОВ</li>
                </ul>
            </div>
        </div>
        <img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_01.jpg" | asset_url }}" class="fullscreen" style="margin-bottom:4em;" >

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_02.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_03.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_04.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_05.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_06.jpeg" | asset_url }}" width="891" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_07.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_08.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_09.jpeg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_10.jpeg" | asset_url }}" width="889" height="500" ></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_11.jpeg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "proekt_pansionata_leningradskaya_oblact_rossiya_12.jpeg" | asset_url }}" width="889" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> <!--end of #main -->
<footer>
    <!--#include file="footer.html" -->
</footer>
</div>