---
title: "Renovation of Old Russian Consulate in Hakodate, Japan"
date: 2014-12-27 00:00
published: true
layout: architecture
thumbnail: "thumbs/renovation_of_old_russian_consulate_in_hakodate_japan.jpg"
styles:
- "black.css"
tags:
- competition
id: "place-lalla"
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient7">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Renovation of Old Russian<br>Consulate in Hakodate</h1>
                <p><span class="adress">Hakodate, Japan</span><span class="state">international competition</span><span class="state state2">competition finalist</span><span class="state state3">3rd place</span></p>
                <span>People on project:</span>
                <ul>
                    <li>Nikolai Lim</li>
                    <li>Dmitry Vodovatov</li>
                    <li>Alina Denisova</li>
                    <li>Evegeniy Shulyate'ev</li>
                    <li>Natalia Red'kina</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_01.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_02.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_03.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_04.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_05.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_07.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "renovation_of_old_russian_consulate_in_hakodate_japan_06.jpg" | asset_url }}"  class="fullscreen" ></div>


        <div class="dlblock">
            <div class="lblock textfld">
                <h2>Period Reminiscences</h2>

                <p> The Old Russian Consulate site in Hakodate was built in 1908 and lived its functional life up to 1944.
                </p>

                <p> We approach it as a kind of a witness and a participant of Hakodate community’s life of that particular
                    period.
                </p>

                <p> The objective of our Competition Proposal is to turn the site into an exhibition space for Period
                    Reminiscences.
                </p>

                <p> Right now it is difficult to foresee what particular period in Hakodate community’s life and what
                    particular type of Hakodate citizens’ reminiscences would be the focusing point for the future
                    exhibition space curators.
                </p>

                <p> We suggest a straightforward approach as a starting point:
                </p>

                <p> Let it be an exhibition of 1908 – 1944 period b/w family photographs, cinema posters, magazine cartoons,
                    fashion graphics etc. brought here by Hakodate people.
                </p>

                <p> Let period music sound all around; let some period movies be projected; let the personnel be dressed in
                    particular period robes; let a tea party be served as close as possible to the actual Hakodate people
                    period reminiscences.
                </p>

                <p> It is not too difficult to transform this approach to any other particular period in Hakodate citizen’s
                    everyday life reminiscences – let it be the late 1950-s Sputnik era or 1980-s Cyberpunk.
                    And the renovated Old Russian Consulate site will serve just as a basic framework for it.</p>

                <p> We can not predict any particular details at this stage of the Project.
                    It is an “open end” proposal.</p>

                <p> However, we see the Period Reminiscences approach as an organized Hakodate people citizen’s initiative
                    effort mainly.
                </p>
            </div>

            <div class="lblock textfld">
                <h2>在函館市旧ロシア領事館の改造
                    所在地　函館市船見町１７番3
                    「思い出時代」</h2>

                <p> 在函館市旧ロシア領事館は1908年に建設され、1944年まで活動していました。
                </p>

                <p> 領事館の建築物はその時代に函館市に生活していた市民の暮らしの参加者とウィトネスとして考えられています。
                </p>

                <p> 今回のコンテストの目的は、現場を「思い出時代」の展覧空間に改造することになっています。現在、将来の展覧空間でどのような時代の函館市民の生活に集中されるかと予測しにくいのですが、最初に、下記の簡単な解決案を提出させていただきます。
                </p>

                <p> この場合、函館市民から提供していただいた1908－1944年間時代のご家族の白黒写真や、映画ポスター、雑誌のカリカチュアや、最新流行の挿絵などの展覧会でも宜しいです。
                </p>

                <p> その時代の音楽が流れ、その時代の映画が放映され、又スタッフがその当時の衣服を着て、茶道儀式が「思い出時代」の函館市民が行っていたように行われることで宜しいのです。
                </p>

                <p> また、どんな函館市民の「思い出時代」の日常生活でも、展覧空間を変えて、展覧会を開催できます。それが1950年代のスプートニク時代でも、又1980年代のサイバーパンクでも。
                </p>

                <p> 改新される旧ロシア領事館の領域は、当時代のイメージを完成する過程で枠のようなものになることでしょう。現在のプロジェクトの段階では明確な詳細は予想できませんが、それは将来性のある提案であると思います。
                </p>

                <p> しかしながら、このような「思い出時代」の開設は、多くの函館市民の提案を呼び起こすことになると予想しています。</p>
            </div>




        </div>
    </div> <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
