---
title: "shopping plaza community lifestyle mall"
date: 2016-04-23 00:00
published: true
layout: architecture
thumbnail: "thumbs/shopping_plaza_community_lifestyle_mall.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.0); border: none">
                    <h2>shopping plaza. community lifestyle mall</h2>
                    <p><span class="adress"></span><span class="state">international competition</span><span class="state state2">finalist</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NIKOLAI LIM</li>
                        <li>DMITRI VODOVATOV</li>
                        <li>MARIA ZAHAROVA</li>
                        <li>EKATERINA KUZNETSOVA</li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
        <img src="{{ "shopping_plaza_community_lifestyle_mall_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_02.jpg" | asset_url }}" width="463" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_03.jpg" | asset_url }}" width="759" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_04.jpg"| asset_url }}" width="788" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_05.jpg" | asset_url }}" width="869" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_06.jpg" | asset_url }}" width="925" height="500"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_07.jpg" | asset_url }}" width="667" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_08.jpg" | asset_url }}" width="667" height="500"></div>
                        <div class="bond-slide"><img src="{{ "shopping_plaza_community_lifestyle_mall_09.jpg" | asset_url }}" width="750" height="500"></div>


                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" >
                <h3>IDEA</h3>

                <p>Community Lifestyle Plaza is a fullfledged
                    public city center, offering a unique communication experience,
                    recreation and shopping, changing in accordance with the current distriict needs.
                </p>The core of the project will be the market space combined with a restaurant
                area and a pop-up stores - a kind of “urban living” open and multi-pronged
                functional space, to develop the idea of a new boundless experience of using
                the building and its services.</p>
                <p>Due to its volume and the internal
                    layout in it can pass several events designed for different audiences and
                    tasks simultaneously. The ideological basis for living are flexibility and
                    speed of transformation of services on the ground floor. The space will
                    fill a lot of divergent and dissimilar streams of users of various types of
                    services.<br/></h3>

                

            </div>
            <div class="lblock textfld" >
                <h3>MANAGEMENT MODEL</h3>


                <p>Community Lifestyle Plaza service
                    transformation will be carried out via residents by a communication with eplatform
                    (network management model). All service operators will be integrated into a single information space
                    that allows visitors not only to obtain information about the cost and details
                    of the work, but also to participate in the vote, evaluating, selecting, the following
                    pop-up points. This solution will enable Plaza to be flexible, adaptive
                    and personalized service space, meet the requirements of visitors and world trends.
                <p>This kind of control will be beneficial
                both for the residents (they receive necessary services in own district in
                accordance with current needs) and retailers (their product is guaranteed to be in demand).
                <p>Plaza will combine several basic
                functions (trade, public space, cultural,
                office, residential areas) and
                will be an environment where people
                live, work, play, consume and where
                the visitor can play an important role
                in the creation of the programm.

            
    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
