---
title: "suncheon art platform"
date: 2016-05-16 00:00
published: true
layout: architecture
thumbnail: "suncheon_art_platform.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.0); border: none">
                    <h1>suncheon art platform</h1>
                    <p><span class="adress">Suncheon, South Korea</span><span class="state">international competition</span><span class="state state2"></span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NIKOLAI LIM</li>
                        <li>DMITRI VODOVATOV</li>
                        <li>MARIA ZAHAROVA</li>


                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
        <img src="{{ "suncheon_art_platform_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_02.jpg" | asset_url }}" width="1309" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_03.jpg" | asset_url }}" width="711" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_04.jpg"| asset_url }}" width="711" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_05.jpg" | asset_url }}" width="893" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_06.jpg" | asset_url }}" width="533" height="400"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_07.jpg" | asset_url }}" width="524" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_08.jpg" | asset_url }}" width="1959" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_09.jpg" | asset_url }}" width="514" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_10.jpg" | asset_url }}" width="538" height="400"></div>
                        <div class="bond-slide"><img src="{{ "suncheon_art_platform_11.jpg" | asset_url }}" width="1739" height="400"></div>


                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" >
                <h3>IDEA</h3>

                <p>The basis of the project laid the image of the city fortress, which existed in ancient times and framed by walls.
                These walls, having a circular shape on the old plans and drawings, we have projected on the plot,
                 divided into 4 zones characterizing the city of Suncheon: Nature, History, Local crafts and Cuisine.</p>


                

            </div>
            <div class="lblock textfld" >



                <p>Thus, the circular gallery will link together the traditions of this area, and its transparent façade
                will be the symbol of Art-platform openness to world and will actively entice passersby into using the
                trade zone located along the street.  The visitor, moving round the gallery will be able to get a thrilling experience,
                 to feel consistently all four phenomena and at the same time enjoy a variety of domestic complex views.</p>








            
    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
