---
title: "the next helsinki 2015"
date: 2015-03-03 00:00
published: true
layout: architecture
thumbnail: "the_next_helsinki_2015_.jpg"
styles:
- "white.css"
tags:
- competition
id: "helsinki-art"
---


baku_int<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(200, 200, 200, 0.2); border: none">
                    <h1>the next helsinki 2015 <br/> </h1>

                    <p><span class="adress">South harbour, Helsinki, Finland</span><span class="state">international competition</span>
                    <br/><br/>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Dmitry Vodovatov</li>
                        <li>NATALIA RED'KINA</li>
                    </ul>

                </div>
            </div>
        </div>
        <img src="{{ "the_next_helsinki_2015_07.jpg"| asset_url }}" class="fullscreen">
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:566px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "the_next_helsinki_2015_08.jpg" | asset_url }}" width="800" height="566"></div>
                        <div class="bond-slide"><img src="{{ "the_next_helsinki_2015_09.jpg" | asset_url }}" width="800" height="566"></div>
                        <div class="bond-slide"><img src="{{ "the_next_helsinki_2015_10.jpg" | asset_url }}" width="800" height="566"></div>
                        <div class="bond-slide"><img src="{{ "the_next_helsinki_2015_11.jpg" | asset_url }}" width="800" height="566"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_01.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_03.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_04.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_05.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_06.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_next_helsinki_2015_02.jpg" | asset_url }}"  class="fullscreen" ></div>
</div>
<div class="dlblock" >
    <div class="lblock textfld" >
        <h2>Art Grid Idea</h2><h3>Introduction<br/></h3>

        <p>There are too much Architecture today, which is invades aggressively our routine visual environment and experience.
            We can not say the same about Nature. Nature, in its essence, never invades us visually. It just surrounds, envelopes or environs us, human beings.
            The objective of Art Grid Idea is to limit the role of Architecture in Harbor of Helsinki renovation zone just to organizational grid.
        </p>
        <p>Three fundamental visual features of Finish landscape inspired our approach:
            <li>Transparency of birch wood<li>Gentle landscape relief<li>Reflective surfaces of lakes


            </p>

    </div>
    <div class="lblock textfld" >
        <h3>Basic Layout<br/></h3>
        </p>
        <p>A 15m x15m grid is proposed as the basic horizontal layout module of the land plot.
            Slender aluminum columns are used as roof supports in the roofed zones.
            Exterior walls - where they are necessary - are made of glass.
        <p>The uniform 15m pace/distance between columns provides unobtrusive visual space sectioning in the interior. So the visitor's perception of an art object of any dimension is not restricted by the available space limitations. It provides also an unlimited flexibility for the interior space usage.
        <p>As to the exterior, slender metal columns, coupled with transparent glass walls, make the whole structure transparent for the on-looker. It does not block the familiar visual perception both of the townscape and the surrounding seascape.
        <p>Though all columns are of uniform 18m height, the roof itself is not flat, but wavy or hilly. Here we refer to surrounding sloping mountain landscape.
        <p>The irregular alternation of transparent and opaque 15m x15m modules in the roof enriches the light/shadow balance of the interior space. The ceiling is clad in timber.
        <p>The un-roofed lawns zones are sectioned according to the same 15m x15m module grid.
    </div>
    <div class="lblock textfld" >
        <h3>Afterword<br/></h3>
        <p>Right now it is difficult to foresee what particular cultural, educational, entertainment or commercial objectives would be assigned to the Art Grid space by its curators.</p>
        <p>We can not predict any particular details at this stage of the Project.
            It is an “open end” proposal.</p>


    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
