---
title: "the historic and cultural complex in kaliningrad (post-castle)"
date: 2015-08-24 00:00
published: true
layout: architecture
thumbnail: "thumbs/the_historic_and_cultural_complex_in_kaliningrad_(post-castle).jpg"
styles:
- "white.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:3em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(200, 200, 200, 0.0); border: none">
                    <h1>the historic and cultural complex<br> in kaliningrad (post-castle)</h1>
                    <p><span class="adress">Kaliningrad, Russia</span><span class="state">international competition</span><span class="state state2">competition finale</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NIKOLAI LIM</li>
                        <li>ELENA SHAROVA </li>
                        <li>DMITRI VODOVATOV </li>
                        <li>NATALIA RED'KINA </li>
                        <li>EVEGENIY SHULYATE'EV </li>


                    </ul>

                </div>
            </div>
        </div>
        <img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_02.jpg"| asset_url }}"
             class="fullscreen" style="margin-bottom:1em;">

        <div class="dlblock" style="margin-bottom:1em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_12.jpg" | asset_url }}" width="523" height="500"></div>
                        <div class="bond-slide"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_13.jpg" | asset_url }}" width="1545" height="500"></div>
                        <div class="bond-slide"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_08.jpg" | asset_url }}" width="2308" height="500"></div>
                        <div class="bond-slide"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_14.jpg" | asset_url }}" width="1492" height="500"></div>
                        <div class="bond-slide"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_15.jpg" | asset_url }}" width="1492" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_01.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_03.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_04.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_05.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_06.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_10.jpg" | asset_url }}"  class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:1em"><img src="{{ "the_historic_and_cultural_complex_in_kaliningrad_(post-castle)_07.jpg" | asset_url }}"  class="fullscreen" ></div>
    </div>
    <div class="dlblock" >
        <div class="lblock textfld" >
            <h2>Concept note</h2><h3>Königsberg’s central area site development history<br/></h3>

            <p>Königsberg was founded in January 1255in the lower course of the river Pregelon the
                site of the Prussian settlement as acastle by the knights of the Grand Master of the
                Teutonic Order and the king PremyslOttokarII of Bohemia. The core, around which the
                formation of the city began, was the Castle of the Order, which in 1255 was named “the
                Royal Mountain”.
            </p>Construction of the fortress’ walls defined and secured for a long period of time the
            constant territorial formations of the three medieval towns that have existed in this form
            before their merger in 1724, when numerous villages and suburbs, as well as the Castle
            itself, which previously hadn’t been a part of any of the aforementioned towns,but had a
            special status ofthe government residence, were merged into a single town of
            Königsberg.</p>
            <p>In the XX century the city has developed beyond the territory confined by the
                defensering. During World War II, in August 1944, Königsberg, especially its center,
                hadsufferedheavy damage from British bombing attacks. The Castle was largely
                destroyedduring the military assault on the city in 1945, however the main towers and
                wallsremained intact until 1956. During the period from 1959till 1976 the remains of the
                KönigsbergCastle were dismantled and on their site the central square was located.
                Today,the historic site has lost its significance, and the city has lost its symbol.
            <h3>The concept of an archaeological exhibition<br/></h3>
            </p>
            <p>The project envisages the opening of cellars around the perimeter of the Castle,
                followed by its preservation and strengthening. In addition, it is proposed to reconstruct
                the two key pieces of earlier existing structures: the western wing of the main tower and
                a part of the north-easterncarcase together with the Habertum tower.

            </p>

        </div>
        <div class="lblock textfld" >


            <p>The main composite core of the project is a reconstruction of the Castle as a symbol of
            the historical and archaeological museum. Cultural facilities, especiallymuseum
            constructions, often express the character of the place where they are
            situated.Museumsa priori can serve as the territory of such expression: history,
            captured and preserved in their collections, enters into a dialogue with the present - with
            the audience. Particularly intense this dialogue becomes in museums located in the
            immediate vicinity of the historic sites or directly on thehistorical territories.
            <p>It is suggested the Museum of Archaeologybe located directly in the area of the existing
            archaeological excavations: it is planned for the wine cellar to be located in the
            basement of the west wing, and exhibition spaces be arrangedin the Convent House. A
            net of new columns and frames will be placed on the reinforced basement constructions
            to create a "shell" –a translucent structurethat protects both reconstructed and historical
            sites from moisture and external influences. It is suggested that examinedand analysed
            fragments, as well as preserved and awaiting its turn in further scientific examination
            parts will be placed under this "shell".
            <p>Also, directly on the historical structures a gallery with light holes will be arranged for
            the better view of the archaeological exhibition. Interactive zones can also be created -
            everyone can participate in the study of the historical process and take part in
            archaeological excavations.
            <p>Within the basement walls of the southern and eastern bulks the Historical Museum of
            the Royal Castle will be located, providedthat the historical structures themselves will
            become apart of the future exhibition - connecting the historical construction techniques
            on site with new methods and approaches, and thus restoring the lost connection
            between the epochs. This approach can be used to connect new constructionswith the
            rest of the Castle complex.
            <p>The Museum of curiosities (reliquary, or "Chamber of curiosities") is proposed to
            locateabove the ground level, in the southern part of the Castle as a system of ramps
            and spaces for specific exhibits. Collection of objects found during archaeological
            excavations, works of Königsberg artisans, as well as religious art, will become the core
            of the exhibition.
        </div>
        <div class="lblock textfld" >
            <h3>Interactive area<br/></h3>
            <p>Trying to preserve the historical, cultural, architectural and ethnographic environment,
                theproject proposes to maintain the volume of existing buildings and the courtyard
                formed by them, which will be usedto hold temporary exhibitions. The rest of the time
                historic building machinery will be on display in the courtyard. Particular attention will be
                paid to the Baltic region building materials: bricks and tiles. It is expected that part of the
                museum will serveas an interactive area where everyone can learn about the history
                and archaeology of the Kaliningrad region, try handin pottery - visitors will be able to
                knead the clay and moldan article. Also, interactive area will include workshops for the
                production of ceramicand hand-molded bricks, as well as tiles, a traditional material,
                which, for example, was used to cover the western wing of the Royal Castle, destroyed
                during the bombing of the British aviation in August 1944. In addition, museum visitors
                will be able to observe in real time the creation of architectural elements in stone. The
                concept also provides that part of the museum exhibition will focusonhistorical brands.</p>
            <p>In the northern part, at its historic location, we offer to recreate the iconic restaurantof
                Blutgericht.</p>
            <iframe src="http://player.vimeo.com/video/148601170?portrait=0&amp;color=59a5d1" width="427" height="240" frameborder="0"></iframe>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
