---
title: "tokio poplab"
date: 2016-02-23 00:00
published: true
layout: architecture
thumbnail: "thumbs/tokyo_poplab.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---
{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">

    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.0); border: none">
                    <h1>tokyo poplab</h1>
                    <p><span class="adress">Tokyo, Japan</span><span class="state">international competition</span>
                    </p>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>NATALIA RED'KINA </li>
                        <li>DMITRI VODOVATOV</li>
                        <li>MARIA ZAHAROVA</li>
                        <li>EKATERINA KUZNETSOVA</li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
        <img src="{{ "tokyo_poplab_01.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_10.jpg" | asset_url }}" width="626" height="500"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_11.jpg" | asset_url }}" width="707" height="500"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_12.jpg"| asset_url }}" width="500" height="500"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_13.jpg" | asset_url }}" width="700" height="500"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_14.jpg" | asset_url }}" width="700" height="500"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_15.jpg" | asset_url }}" width="1527" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:1em;">
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_02.jpg" | asset_url }}" width="600" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_03.jpg" | asset_url }}" width="453" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_04.jpg" | asset_url }}" width="600" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_05.jpg" | asset_url }}" width="453" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_06.jpg" | asset_url }}" width="694" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_07.jpg" | asset_url }}" width="600" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_08.jpg" | asset_url }}" width="267" height="400"></div>
                        <div class="bond-slide"><img src="{{ "tokyo_poplab_09.jpg" | asset_url }}" width="266" height="400"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dlblock" >
        <div class="lblock textfld" >
            <h3>Cross-roads<br/></h3>
            <h4>Try the most popular word trends</h4>
            <p>Japan has historically been the place where culture trends from around the world are absorbed and transformed.
                Sensitivity to the different cultures, the desire to constantly try something new and exotic without losing the connection with
                their traditions are the main features of Japanese mentality.
            </p>Tokyo is the center of Asian popular culture and has its own several areas where different trends slopped  onto the streets:
            Akhibara, Harajuku, Simo-Kitazawa and others. We do not intend to create another  subculture place in a city where this is difficult to compete.
            We want to make the laboratory where global pop-trends will intersect, reflexed and comprehended</p>
            <p>The Research Center will select the most popular current world culture trends and through the interactive installations, edutainment and events will allows everyone
                to feel inside the trend, try a sense of modernity and take a part in a future trends shaping process.<br/></h3>
        </div>
        <div class="lblock textfld" >



            <div class="bond-slide"><img src="{{ "tokyo_poplab_17.jpg" | asset_url }}" width="695" height="500"></div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
