---
title: "Жилой комплекс. Деревня лаврики"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/zhiloi_kompleks_derevnya_lavriki.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" style="border": none">
                <h1>Жилой комплекс <br> Деревня &laquo;лаврики&raquo; </h1>
                <span class="state">ФОР-ЭСКИЗ</span> <span class="state2">ВАРИАНТ 1</span></p>
                <p><span class="adress">Санкт-Петербург, деревня &laquo;Лаврики&raquo;</span></p>
                <span>Авторский состав:</span>
                <ul>
                    <li>Евгений Шулятьев</li>
                    <li>Константин Дерюгин</li>
                    <li>Дмитрий Водоватов</li>

                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_01.jpg"  | asset_url }}" class="fullscreen"></div>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_02.jpg" | asset_url }}" width="739" height="500"></div>
                        <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_03.jpg" | asset_url }}" width="739" height="500"></div>
                        <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_04.jpg" | asset_url }}" width="739" height="500"></div>
                        <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_05.jpg" | asset_url }}" width="739" height="500"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End of Main -->
<footer>
    <!--#include file="footer.html" -->
</footer>
</div>


        <div id="container">
            <div id="main" role="main">
            <div class="dlblock">
                <div id="lab" style="border": none">
                <span class="state">ФОР-ЭСКИЗ</span> <span class="state2">Вариант 2</span></p>
                    <span>Авторский состав:</span>
                    <ul>
                        <li>Евгений Шулятьев</li>
                        <li>Константин Дерюгин</li>
                        <li>Дмитрий Водоватов</li>
                    </ul>
                </div>


    </div>
            <div id="main" role="main">
                <div class="dlblock" style="margin-bottom:7em;">
                    <div class="bond-touchmargin" style="height:500px;">
                        <div class="bond-wrapper">
                            <div class="bond-box">
                                <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_06.jpg" | asset_url }}" width="739" height="500"></div>
                                <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_07.jpg" | asset_url }}" width="739" height="500"></div>
                                <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_08.jpg" | asset_url }}" width="739" height="500"></div>
                                <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_09.jpg" | asset_url }}" width="739" height="500"></div>
                                <div class="bond-slide"><img src="{{ "zhiloi_kompleks_derevnya_lavriki_10.jpg" | asset_url }}" width="739" height="500"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>