{% block title %}
First Baku International Architecture Award 2013
{% endblock %}

{% block content %}
<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
        <div style="position:absolute;	z-index:1; padding-top:6em;">
            <div class="lblock" style="padding-left:40px;">
                <div id="lab" style="background-color: rgba(190, 255, 253, 0.36); border: none">
                    <h1>First Baku International <br/> Architecture Award&nbsp;2013</h1>

                    <span class="state state2">Category D - Best non-realised project</span><br/><span class="state state3">Second Place Diploma <br/>
                     for project: <a href="Kaohsiung-Maritime-Cultural-and-Popular-Music-Center.shtml">Centre of maritime culture and popular music, Kaohsiung, Taiwan</a></span><br/>
                    <br/><span class="state">international competition</span>
                    <br/><br/>
                    <span class="bgstring">People on project:</span>
                    <ul>
                        <li>Nikolai Lim</li>
                        <li>Danil Ovcharenko</li>
                        <li>Fedor Troitsky</li>
                        <li>Maria Bychkova</li>
                        <li>Dmitry Vodovatov</li>
                    </ul>

                </div>
            </div>
        </div>
        <img src="{{ "baku_0.jpg"| asset_url }}"
             class="fullscreen">

    </header>
    <div id="main" role="main">
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "baku_1.jpg" | asset_url }}" width="930" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku/baku_2.jpg" | asset_url }}" width="778" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku/baku_3.jpg"| asset_url }}" width="558" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku_4.jpg"| asset_url }}" width="868" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku_5.jpg"| asset_url }}" width="479" height="500"></div>

                        <div class="bond-slide"><img src="{{ "baku/baku_6.jpg" | asset_url }}" width="887" height="500"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" style="margin-bottom:7em;">
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "baku/baku_s1.jpg" | asset_url }}" width="1154" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku_s2.jpg" | asset_url }}" width="1796" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku/baku_s3.jpg" | asset_url }}" width="1957" height="500"></div>
                        <div class="bond-slide"><img src="{{ "baku/baku_s4.jpg" | asset_url }}" width="2011" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Main -->
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
{% endblock %}