{% block title %}
КОМПЛЕКСНАЯ РЕНОВАЦИЯ — «ОАО ИЖОРСКИЕ ЗАВОДЫ»
{% endblock %}

{% block content %}
<div id="container" class="gradient5">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>КОМПЛЕКСНАЯ РЕНОВАЦИЯ —<br>

                    «ОАО ИЖОРСКИЕ ЗАВОДЫ»</h1>
                <p><span class="adress">Колпинский район, Санкт-Петербург, Россия</span></p>

                <span>В проекте участвовали:</span>
                <ul>
                    <li>Николай Лим</li>
                    <li>Евгений Шулятьев</li>
                    <li>Дмитрий Водоватов</li>
                    <li>Татьяна Решетникова</li>
                    <li>Николай Петров</li>
                    <li>Ильес Бен Аммар</li>
                    <li>Евгения Шалимова</li>
                    <li>Федор Троицкий</li>
                </ul>

            </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box" style="width: 14000px;">
                        <div class="bond-slide"><img src="{{ "IZ_UP_001.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "IZ_UP_002.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "IZ_UP_003.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "IZ_UP_004.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "IZ_UP_005.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "IZ_UP_006.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "eskiz_01.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "eskiz_02.jpg" | asset_url }}" width="688" height="500"></div>
                        <div class="bond-slide"><img src="{{ "eskiz_05.jpg" | asset_url }}" width="1049" height="500"></div>
                        <div class="bond-slide"><img src="{{ "eskiz_03.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "eskiz_04.jpg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "iz/01.jpg" | asset_url }}" width="1439" height="500"></div>
                        <div class="bond-slide"><img src="{{ "iz/02.jpg" | asset_url }}" width="1000" height="500"></div>
                        <div class="bond-slide"><img src="{{ "iz/03.jpg" | asset_url }}" width="889" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div> <!--! end of #container -->
{% endblock %}
