{% block title %}
Проект пансионата, Ленинградская область, Россия
{% endblock %}

{% block content %}
<div id="container" class="dark-blue">

    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="lblock">
            <div id="lab">
                <h1>Проект пансионата</h1>
                <p><span class="adress">Ленинградская область, Россия</span><span class="state">фор-эскиз</span>
                </p>
                <span class="bgstring">В проекте участвовали:</span>
                <ul>
                    <li>НИКОЛАЙ ЛИМ</li>
                    <li>ДМИТРИЙ ВОДОВАТОВ</li>
                </ul>
            </div>
        </div>
        <img src="{{ "pan_bg.jpg" | asset_url }}" class="fullscreen" style="margin-bottom:4em;" >

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:500px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "pansionat/008.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/010.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/005.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/009.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/012.jpeg" | asset_url }}" width="891" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/006.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/011.jpeg" | asset_url }}" width="890" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/004.jpeg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/001.jpeg" | asset_url }}" width="889" height="500" ></div>
                        <div class="bond-slide"><img src="{{ "pansionat/002.jpeg" | asset_url }}" width="889" height="500"></div>
                        <div class="bond-slide"><img src="{{ "pansionat/003.jpeg" | asset_url }}" width="889" height="500"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> <!--end of #main -->
<footer>
    <!--#include file="footer.html" -->
</footer>
</div> <!--! end of #container -->

{% endblock %}
