{% collection "design" by 1 query "slug=/design/{{ mixture.route.url }}" %}
{% assign post = collection.items.first %}
{% endcollection %}

<!doctype html>
<html>
<head>
    <title>
        {% if post.title %}
        {{ post.title }}
        {% else %}
        {% block title %}АСД студия — Архитектурное проектирование, дизайн–проектирование, и отделочные работы «под ключ»{% endblock %}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    {{ "style.css" | asset_url | stylesheet_tag }}
    {{ "typography.css" | asset_url | stylesheet_tag }}
    {{ "h-bond.css" | asset_url | stylesheet_tag }}
    {% if post.styles %}
    {% for style in post.styles %}
    {{ style | asset_url | stylesheet_tag }}
    {% endfor %}
    {% endif %}

</head>

<body id='{% if post.id %}{{post.id}}{% endif %}'>

{% include "header" %}
{% block content %}{% endblock %}
{% include "footer" %}
{% include "scripts" %}










