<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}АСД студия — Архитектурное проектирование, дизайн–проектирование, и отделочные работы «под ключ»{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "style.css" | asset_url | stylesheet_tag }}
        {{ "typography.css" | asset_url | stylesheet_tag }}
        {{ "h-bond.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->

        {% block styles %}{% endblock %}
    </head>
    <body id="index">
            <!-- Include -->

            {% include "header" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        <!-- Script block allowing child pages to inject their own scripts -->
        {{ "jquery-1.5.1.js" | asset_url | script_tag }}
        {{ "plugins.js" | asset_url | script_tag }}
        {{ "bond.js" | asset_url | script_tag }}
        {{ "script.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>
