<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        {% collection "architecture" by 1 query "slug=/architecture/{{ mixture.route.url }}" %}
        {% assign post = collection.items.first %}
        {% endcollection %}
        <title>{{ post.title }}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "style.css" | asset_url | stylesheet_tag }}
        {{ "typography.css" | asset_url | stylesheet_tag }}
        {{ "h-bond.css" | asset_url | stylesheet_tag }}

        {% if post.styles %}
            {% for style in post.styles %}
                {{ style | asset_url | stylesheet_tag }}
            {% endfor %}
        {% endif %}

    </head>
    <body id="index">

            <!-- Include -->

            {% include "header" %}
            <!-- Content block, child page inject content -->
            <h1>{{ post.title }}</h1>
            {% block content %}{% endblock %}
        <!-- Script block allowing child pages to inject their own scripts -->
        {{ "jquery-1.5.1.js" | asset_url | script_tag }}
        {{ "plugins.js" | asset_url | script_tag }}
        {{ "bond.js" | asset_url | script_tag }}
        {{ "script.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>
