<li {% if article.tags %}class="{% for tag in article.tags %}{{ tag }} {% endfor %}"{% endif %} >
    <div class="proj-label"><a href="{{ article.slug }}">{{ article.title }}</a></div>
    <div class="proj-img"><a href="{{ article.slug }}"><img src="{{ article.thumbnail | asset_url }}" width="300" height="200" alt="{{ article.title }}" /></a></div>
</li>