---
title: "Частный интерьер (ж.к. &laquo;Город Солнца&raquo;)"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/chastnii_interier_gorod_solnca.jpg"
tags:
- pub-interior
---

{{ "my.css" | asset_url | stylesheet_tag }}

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
    <div id="container">    <header>
        <!--#include file="super-menu.html" -->
    </header>
        <div id="main" role="main">

            <div id="lab">
                <h1>Частный интерьер<br>
                    (ж.к. &laquo;Город Солнца&raquo;)</h1>
                <p><span class="adress"> ул. Композиторов, д. 10, Санкт-Петербург. </span><span class="state">Проект и реализация</span>
                </p>
                <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>


            </div>

            <div class="lblock"><img src="{{ "pvt_interior_2/crop_main_940w.jpg" | asset_url }}" width="940" height="775" /></div>
            <div class="dlblock">
                <div class="lblock"><img src="{{ "pvt_interior_2/crop2_1_280.jpg" | asset_url }}" width="344" height="280" /></div>
                <div class="lblock"><img src="{{ "pvt_interior_2/crop2_2_280.jpg" | asset_url }}" width="230" height="280" /></div>
            </div>
            <div class="dlblock">
                <div class="lblock"><img src="{{ "pvt_interior_2/crop3_1_240.jpg" | asset_url }}" width="435" height="240" /></div>
            </div>
            <div class="dlblock">
                <div class="lblock"><img src="{{ "pvt_interior_2/crop4-1_240.jpg" | asset_url }}" width="290" height="240" /></div>
                <div class="lblock"><img src="{{ "pvt_interior_2/crop4-2_240.jpg" | asset_url }}" width="195" height="240" /></div>

            </div>

        </div>    <footer>
            <!--#include file="footer.html" -->
        </footer>
    </div>