---
title: "Частный интерьер на Виленском переулке"
date: 2013-01-07 00:00
published: true
layout: design
thumbnail: "thumbs/chastnii_interier_na_velenskom_pereulke.jpg"
styles:
- "my.css"
tags:
- "pvt-interior"
id: "monochrome-loft"
---

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div id="lab">
            <h1>Частный интерьер <br>
                на Виленском переулке</h1>
            <p><span class="adress">Виленский переулок, Санкт-Петербург. </span><span class="state">Проект и реализация</span>
            </p>
            <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>
        </div>

        <div class="lblock"><img src="{{ "pvt_interior_1/crop_main_940w.jpg" | asset_url }}" width="940" height="505" /></div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "pvt_interior_1/crop2-1_320x510.jpg" | asset_url }}" width="510" height="320" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop2-2_320x240.jpg" | asset_url }}" width="220" height="320" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "pvt_interior_1/crop3-1_280x260.jpg" | asset_url }}" width="260" height="280" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop3-2_280x270.jpg" | asset_url }}" width="270" height="280" /></div>
        </div>

        <div class="dlblock">
            <div class="lblock"><img src="{{ "pvt_interior_1/crop5-4_200x260.jpg" | asset_url }}" width="260" height="200" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop5-3_200x260.jpg" | asset_url }}" width="260" height="200" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-3_200x180.jpg" | asset_url }}" width="180" height="200" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-4_200x180.jpg" | asset_url }}" width="180" height="200" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-5_200x150.jpg" | asset_url }}" width="150" height="200" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-6_200x150.jpg" | asset_url }}" width="150" height="200" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-1_200x190.jpg" | asset_url }}" width="190" height="200" /></div>
            <div class="lblock"><img src="{{ "pvt_interior_1/crop4-2_200x190.jpg" | asset_url }}" width="190" height="200" /></div>
        </div>



    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
