---
title: "Частный интерьер на Крестовском острове, ул. Вязовая"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/chastnii_interier_na_krestovskom_ostrove_ul_viyazovaya_2.jpg"
tags:
- pub-interior
---

{{ "my.css" | asset_url | stylesheet_tag }}

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" >
                <h1>Частный интерьер<br />ул. Вязовая</h1>
                <p><span class="adress">Крестовский остров, Санкт-Петербург. </span><span class="state">Проект</span>
                </p>
                <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>
                <span>Над проектом работал</span>
                <ul>
                    <li>Дмитрий Водоватов</li>
                </ul>

            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:600px;" >
                <div class="bond-wrapper">
                    <div class="bond-box" style="width: 11200px;">
                        <div class="bond-slide"><img src="{{ "viazovaja2/05.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/01.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/02.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/03.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/04.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/06.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/07.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/08.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/09.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/10.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/11.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/12.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/13.jpg" | asset_url }}"  width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja2/14.jpg" | asset_url }}"  width="800" height="600"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mycursor"></div>
    </div>    <footer>
    <!--#include file="footer.html" -->
</footer>
</div>
