---
title: "Частный интерьер на Крестовском осторве, Крестовский пр."
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/chastnii_interier_na_krestovskom_ostrove_krestovskii_pr.jpg"
tags:
- pub-interior
---

{{ "my.css" | asset_url | stylesheet_tag }}

<div id="container">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab" >
                <h1>ЧАСТНЫЙ ИНТЕРЬЕР<br />на Крестовском острове</h1>
                <p><span class="adress">Крестовский остров, Санкт-Петербург. </span><span class="state">Проект</span>
                </p>
                <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>
                <span>Над проектом работала</span>
                <ul>
                    <li>Наталия Юркова</li>
                </ul>

            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:600px;" >
                <div class="bond-wrapper">
                    <div class="bond-box" style="width: 16000px;">
                        <div class="bond-slide"><img src="{{ "viazovaja/gost2.jpg" | asset_url }}" width="967" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/gost3.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/gost1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/kab1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/kab2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/kuh1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/kuh2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/prih2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/prih1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/hoz1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/spal1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/spal2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/su1.jpg" | asset_url }}" width="634" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/su2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/su3.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/detsk1.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/detsk2.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/detsk21.jpg" | asset_url }}" width="800" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/sug1.jpg" | asset_url }}" width="450" height="600"></div>
                        <div class="bond-slide"><img src="{{ "viazovaja/sud1.jpg" | asset_url }}" width="450" height="600"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mycursor"></div>

        <img src="{{ "viazovaja/bg.jpeg" | asset_url }}" class="fullscreen2" />
    </div>    <footer>
    <!--#include file="footer.html" -->
</footer>
</div>