---
title: "Гостиница Октябрьская проект реконструкции помещений"
date: 2013-01-08 00:00
published: true
layout: design
thumbnail: "thumbs/gostinica_oktyabrskaya_proekt_rekonstukcii_pomeshenii.jpg"
styles:
- "my.css"
tags:
- "pub-interior"
- "reconstruction"
id: "monochrome-loft"
---


<div id="container">
    <div id="main" role="main">

        <div id="lab">
            <h1>Гостиница Октябрьская<br>
                проект реконструкции <br>
                помещений </h1>
            <p><span class="adress">Лиговский проспект, дом 10, Санкт-Петербург. </span><span class="state">стадия РП</span>
            </p>
            <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>



        </div>

        <div class="lblock"><div id="oktfade" style="width:940px;height:705px;"></div></div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "okt/crop3_360.jpg"  | asset_url }}" width="360" height="360" /></div>
            <div class="lblock"><img src="{{ "okt/crop2-2_360.jpg" | asset_url }}" width="370" height="360" /></div>
            <div class="lblock"><img src="{{ "okt/crop3_1_280.jpg" | asset_url }}" width="295" height="280" /></div>
            <div class="lblock"><img src="{{ "okt/crop3_2_280.jpg" | asset_url }}" width="373" height="280" /></div>
        </div>
        <div class="lblock"><img src="{{ "okt/crop4_280.jpg" | asset_url }}" width="877" height="280" /></div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "okt/crop5_1_240.jpg" | asset_url }}" width="246" height="240" /></div>
            <div class="lblock"><img src="{{ "okt/crop5_2_240.jpg" | asset_url }}" width="330" height="240" /></div>
            <div class="lblock"><img src="{{ "okt/crop5_3_240.jpg" | asset_url }}" width="240" height="240" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "okt/crop6_1_280.jpg" | asset_url }}" width="338" height="280" /></div>
            <div class="lblock"><img src="{{ "okt/crop6_2_280.jpg" | asset_url }}" width="336" height="280" /></div>

        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "okt/crop7_1_280.jpg" | asset_url }}" width="240" height="280" /></div>
            <div class="lblock"><img src="{{ "okt/crop7_2_280.jpg" | asset_url }}" width="379" height="280" /></div>
        </div>

    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
