---
title: "Спа-Отель / интерьеры / пос. Репино"
date: 2013-01-14 00:00
published: true
layout: design
thumbnail: "spa_otel_interieri_pos_repino.jpg"
styles:
- "my.css"
tags:
- "pub-interior"
id: "monochrome-loft"
---

{{ "my.css" | asset_url | stylesheet_tag }}

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div id="lab">
            <h1>Спа-Отель / интерьеры</h1>
            <p><span class="adress">Пос. Репино, Ленинградская Область, Россия</span><span class="state">фор-эскиз</span>
            </p>

        </div>

        <div class="lblock"><img src="{{ "spa_repino/crop_main_940w.jpg" | asset_url }}" width="940" height="588" /></div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "spa_repino/crop1_320x600.jpg" | asset_url }}" width="600" height="320" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "spa_repino/crop3_1_240x320.jpg" | asset_url }}" width="320" height="240" /></div>
            <div class="lblock"><img src="{{ "spa_repino/crop3_2_240x320.jpg" | asset_url }}" width="320" height="240" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock">
                <iframe src="http://player.vimeo.com/video/17672589?byline=0&amp;portrait=0" width="427" height="291" frameborder="0" style="border:#333 1px solid"></iframe>
            </div>
            <div class="lblock">Repino SPA, Public environment concept</div>
        </div>

    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
