{% block title %}
АСД студия — работы, дизайн–проектирование
{% endblock %}

{% block content %}
<div  class="clearfix">
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <h1>Дизайн ПРОЕКТИРОВАНИЕ</h1>
        <ul id="portfolio-filter">
            <li><a href="#all">Все</a></li>
            <li><a rel="Реконструкция" href="#reconstruction">Реконструкция</a></li>
            <li><a rel="Частный интерьер" href="#pvt-interior">Частный интерьер</a></li>
            <li><a rel="Общественный интерьер" href="#pub-interior">Общественный интерьер</a></li>
        </ul>


        <div id="index-menu">

            <ul id="portfolio-list">
                <li class="pvt-interior">
                    <div class="proj-label"><a href="viazovaja2">ЧАСТНЫЙ ИНТЕРЬЕР, ВЯЗОВАЯ УЛ.</a></div>
                    <div class="proj-img"><a href="viazovaja2"><img src="{{ "viazovaja2.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pvt-interior">
                    <div class="proj-label"><a href="viazovaja">ЧАСТНЫЙ ИНТЕРЬЕР НА КРЕСТОВСКОМ ОСТРОВЕ — 2</a></div>
                    <div class="proj-img"><a href="viazovaja"><img src="{{ "viazovaja.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pvt-interior"><div class="proj-label"><a href="krestovskij">ЧАСТНЫЙ ИНТЕРЬЕР
                    НА КРЕСТОВСКОМ ОСТРОВЕ</a></div>
                    <div class="proj-img"><a href="krestovskij"><img src="{{ "thumbs/1.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="monochrome_loft">ФОТОСТУДИЯ MONOCHROME LOFT</a></div>
                    <div class="proj-img"><a href="monochrome_loft"><img src="{{ "thumbs/mchl.jpg" | asset_url }}" width="300" height="200"> </a>  </div>
                </li>

                <li class="pub-interior reconstruction"><div class="proj-label"> <a href="arte-nova.shtml">салон керамики arte-nova</a> </div>
                    <div class="proj-img"> <a href="arte-nova"><img src="{{ "thumbs/arte.jpg" | asset_url }}" width="300" height="200"></a> </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="ss">&laquo;S&S&raquo; / ШОУ-РУМ</a></div>
                    <div class="proj-img"><a href="ss"> <img src="{{ "thumbs/2.jpg" | asset_url }}" width="300" height="200"></a> </div>
                </li>
                <li class="pvt-interior"><div class="proj-label"><a href="pvt_interior_2">ЧАСТНЫЙ ИНТЕРЬЕР (Ж.К. «ГОРОД СОЛНЦА»)</a></div>
                    <div class="proj-img"><a href="pvt_interior_2"> <img src="{{ "thumbs/ozer.jpg" | asset_url }}" width="300" height="200"> </a></div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="spa_repino">Спа-Отель / интерьеры</a></div>
                    <div class="proj-img"><a href="spa_repino"><img src="{{ "sparepino.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="bulthaup">Галерея Дизайна /
                    Bulthaup <br>
                    и САЛОН LIGNE ROSET</a></div>
                    <div class="proj-img"><a href="bulthaup"><img src="{{ "bulthaup.jpg" | asset_url }}"width="300" height="200"></a>  </div>
                </li>

                <li class="pub-interior"><div class="proj-label"><a href="besana">монобрендовый шоурум BESANA</a> </div>
                    <div class="proj-img"><a href="besana"><img src="{{ "thumbs/besa.jpg" | asset_url }}" width="300" height="200"> </a> </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="acd_jam">Офис АСД студии, и кафе &laquo;Джем&raquo;</a></div>
                    <div class="proj-img"><a href="acd_jam"><img src="{{ "thumbs/acd.jpg" | asset_url }}" width="300" height="200"> </a> </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="brl">Офис		    Baltic Reefer Lines</a></div>
                    <div class="proj-img"> <a href="brl"><img src="{{ "thumbs/viaz.jpg" | asset_url }}" width="300" height="200"></a> </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="broadway">Салон красоты
                    &laquo;Бродвей-Дизайн&raquo;</a></div>
                    <div class="proj-img"><a href="broadway"><img src="{{ "thumbs/broadway.jpg" | asset_url }}" width="300" height="200"> </a> </div>
                </li>
                <li class="pub-interior reconstruction"><div class="proj-label"><a href="okt">ГОСТИНИЦА ОКТЯБРЬСКАЯ
                    ПРОЕКТ РЕКОНСТРУКЦИИ
                    ПОМЕЩЕНИЙ</a></div>
                    <div class="proj-img"> <a href="okt"><img src="{{ "thumbs/okt.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>


                <li class="pvt-interior"><div class="proj-label"><a href="pvt_interior_1">ЧАСТНЫЙ ИНТЕРЬЕР
                    НА ВИЛЕНСКОМ ПЕРЕУЛКЕ</a></div>
                    <div class="proj-img"><a href="pvt_interior_1"><img src="{{ "thumbs/vil.jpg" | asset_url }}" width="300" height="200"> </a> </div>
                </li>

                <li class="pub-interior reconstruction"><div class="proj-label"><a href="masterskaya_gerasimov">АРХИТЕКТУРНАЯ МАСТЕРСКАЯ</a></div>
                    <div class="proj-img"><a href="masterskaya_gerasimov"><img src="{{ "thumbs/ger.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>

                <li class="pub-interior"><div class="proj-label"><a href="sunbunker">СТУДИЯ ЗАГАРА
                    «СОЛНЕЧНЫЙ БУНКЕР»</a></div>
                    <div class="proj-img"><a href="sunbunker"><img src="{{ "bunker.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pub-interior"><div class="proj-label"><a href="vtb">Реконструкция помещений &laquo;ВТБ Северо-Запад&raquo;</a></div>
                    <div class="proj-img"><a href="vtb"><img src="{{ "thumbs/vtb.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>
                <li class="pvt-interior"><div class="proj-label"><a href="interiors">ИЗБРАННЫЕ проекты ИНТЕРЬЕРов</a></div>
                    <div class="proj-img"> <a href="interiors"><img src="{{ "thumbs/pvt1.jpg" | asset_url }}" width="300" height="200"></a> </div>
                </li>


                <li class="pub-interior"><div class="proj-label"><a href="rice">РЕСТОРАН ЯПОНСКОЙ
                    КУХНИ «РИС»</a></div>
                    <div class="proj-img"><a href="rice"><img src="{{ "thumbs/ris.jpg" | asset_url }}" width="300" height="200"></a>  </div>
                </li>

                <li class="pub-interior"><div class="proj-label"><a href="golden_dolls">ночной клуб     Golden dolls</a></div>
                    <div class="proj-img"><a href="golden_dolls"><img src="{{ "thumbs/dolls.jpg" | asset_url }}" width="300" height="200"> </a> </div>
                </li>



            </ul>


        </div>


    </div>    <footer>
    <!--#include file="footer.html" -->
</footer>
</div> <!--! end of #container -->
{% endblock %}
